*
{
    text-decoration: none;
    color: aliceblue;
    text-align: justify;
}

body{
    height: 100vh;
    background-color: rgb(24, 24, 24);
    place-items: center;
}

nav{
    top: 10%;
    height: 90%;
    width: 32%;
    grid-template-rows: repeat(auto-fit, 50px);
    gap:10px;
}

div{
    margin: 1px;
}

.container
{
    display: grid;
}

#messageBox{
    position: fixed sticky;
    justify-self: bottom right;
}

#mainContainer
{
    grid-template:
    "left center right" 1fr /
    1fr 1fr 1fr;
    height: 100%;
}

#leftSection
{
    grid-area: left;
    justify-items: right;
    border-right: 2px solid darkcyan;
}

#mainSection{
    grid-area: center;
    border-right: 2px solid darkcyan;
}

#rightSection{
    grid-area: right;
}

nav, #wackerIcon, #profileWidget, #mainSectionTitle
{
    position: fixed;
}

#profileWidget, nav div
{
    display: block;
    margin-left: 20%;
    border-radius: 40px;
    box-sizing: border-box;
}

#profileWidget
{
    bottom: 5px;
}

#wackerIcon{
    height: 50px;
    width: 50px;
    margin-left: 10%;
}


nav div a
{
    height: 50px;
    line-height: 50px;
    padding: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.5em;
}

nav div a:hover
{
    background-color:aqua;
    transition: .2s;
}
nav div a:active
{
    background-color:blue;
    transition: .2s;
}


#mainSectionTitle
{
    margin-top: 0px;
    height: 100px;
    width: 32.33%;
    border-bottom: 2px solid darkcyan;
    backdrop-filter: blur(6px);
}

#newWackBox{
    height: 150px;
    margin-top: 100px;
}

#wackList
{
    height: 80%;
    grid-template-rows: repeat(auto-fit, 150px);
    grid-auto-rows: 150px;
    gap:0px;
}

#searchBar{
    height: 75px;
    width: 32.3%;
    position: fixed;
    margin-top: 3px;
    place-content: center;
}

#mainSectionTitle
{
    font-size: 1.2em;
    padding-left: 10px;
}

#news, #whoFollow
{
    box-sizing: border-box;
    border-radius: 25px;
    height: 20%;
    background-color: darkcyan;
    padding: 5px;
    padding-left: 20px;
    margin: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

#news
{
    margin-top: 100px;
}


#newWackBox
{
    grid-template: 
    "profile text text text text text text text" 2fr
    "empty icon1 icon2 icon3 icon4 icon5 empty2 wack" 1fr/
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#profileIcon{
    grid-area: profile;
}

#quickWack{
    grid-area: text;
    background-color: rgb(158, 158, 158);
    border-bottom: 2px solid darkcyan;
}

#searchWacker{
    border-radius: 40px;
    background-color: darkcyan;
    height: 100%;
    width: 100%;
}

#icon1{
    grid-area: icon1;
}

#icon2{
    grid-area: icon2;
}

#icon3{
    grid-area: icon3;
}

#icon4{
    grid-area: icon4;
}

#icon5{
    grid-area: icon5;
}

#wackButton{
    grid-area: wack;
    text-align: center;
    padding-top: 20%;
}


#wack a
{
    text-align: center;
    width: 100%;
}

#newWackBox
{
    border-bottom: 25px solid darkcyan;
}

.wack
{
    grid-template: 
    "profile namecontainer namecontainer namecontainer empty" 1fr
    "profile text text text empty" 2fr
    "empty2 comment rewack like share"1fr;
    border-bottom: 2px solid darkcyan;
}

.profile{grid-area: profile;}
.nameContainer{grid-area: namecontainer;}
.nameContainer>p{display: inline-block;}
.text{grid-area: text;}
.comment{grid-area: comment;}
.rewack{grid-area: rewack;}
.like{grid-area: like;}
.share{grid-area: share;}