div{
    border: 1px dotted;
    margin: 1px;
}

footer
{
    position: fixed;
    bottom: 0px;
    width: 99%;
    height: 100px;
    border: 1px solid;
    margin: 0px;
}

body{
    height: 1500px;
    border: 1px solid;
}

.container
{
    display: grid;
}

#messageBox{
    position: fixed sticky;
    justify-self: bottom right;
}

#mainContainer
{
    grid-template:
    "left center right" 1fr /
    1fr 1fr 1fr;
    height: 100%;
}

#leftSection
{
    grid-area: left;
    position: fixed;
    height: 100vh;
    grid-template-rows: repeat(auto-fit, 50px);
}

#mainSection{
    grid-area: center;
}

#rightSection{
    grid-area: right;
}
