.section-one-aside {
    padding-left: 1.4rem;
    h3 {
        background-color: pink;
        padding: 2rem;
        border-radius: 2rem;
    }
    p {
        font-size: 1.2rem;
    }
    @include respond(tablet-portrait) {
        display: none;
    }
}

.center-wrapper {
    @include respond(tablet-portrait) {
        padding: 2rem;
        margin: 0 auto;
    }
}

.center-wrapper {
    @include respond(between-phone-tablet) {
        padding: 1rem;
        margin: 0 auto;
    }
}