// BUTTON STYLES
.section-one-nav,
.section-one-main {
    &__tweet-button {
        &:link,
        &:visited {
            font-size: 1.4rem;
            color: $color-primary;
            display: inline-block;
            text-decoration: none;
            border: 0.5px solid $color-primary;
            padding: 2px 40px;
            border-radius: 25px;
            margin: 40px 0;
            transition: all 0.2s;
        }
        &:hover {
            background-color: $color-primary;
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
            transform: translateY(2px) translateX(2px);
        }
        &:active {
            box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
            background-color: $color-white;
            color: $color-primary;
            transform: translateY(0);
        }
    }
}

// .btn-text {
//     &__small,
//     &:link,
//     &:visited {
//         @extend .btn-text;
//         font-size: $default-font-size;
//         padding: 2px 20px;
//     }
// }