// PROFILE IMAGE IN NAVIGATION AND MAIN SECTION
.section-one-nav,
.section-one-main {
    &__profile-image img {
        height: 3.5rem;
        border-radius: 50%;
    }
}

// NAVIGATION LIST ITEMS AND ACCOUNT CONTACT SECTION
.section-one-nav {
    &__list img {
        height: 1.8rem;
        padding-right: 0.6rem;
    }
    &__list,
    li:first-child,
    a {
        padding-bottom: 1rem;
    }
    &list,
    li:last-child,
    a {
        padding-top: 1rem;
    }
    &__list,
    li,
    a {
        list-style: none;
        margin: 0;
        border: 0.1px solid transparent;
        border-radius: 12px;
        padding: 6px;
        @include respond(tablet-landscape) {
            color: transparent;
            display: grid;
            justify-items: center;
            margin: 0;
            padding: 0;
        }
    }
    &__list li a:link {
        text-decoration: none;
    }
    &__list li:hover {
        text-decoration: underline;
        color: $color-grey-dark;
        box-shadow: 0 5px 5px rgba($color-black, 0.15);
        transform: translateX(3px);
        cursor: pointer;
        @include respond(tablet-landscape) {
            color: transparent;
            display: grid;
            justify-items: end;
            border: 0;
            box-shadow: 0px 0 0px $color-grey-dark;
            transform: translateX(2px);
        }
    }
    &__list li:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0);
    }
    &__list li:first-child:active,
    li:first-child:hover,
    li:last-child:active,
    li:last-child:hover {
        box-shadow: 0 0 0 transparent;
    }
    // ALIGNING TEXT WITH ICONS
    &__list,
    img {
        position: relative;
        top: 10px;
    }
    //  ACCOUNT CONTACT SECTION
    &__twitter-account-holder {
        display: grid;
        grid-template-rows: 6rem auto;
        margin: 0 2rem 0 0;
        border-radius: 16px;
        padding: 5px;
        @include respond(tablet-landscape) {
            display: grid;
            grid-template-rows: 5rem 6rem;
            place-items: center;
            margin: 0;
        }
    }
    &__twitter-account-holder:hover {
        background-color: $color-grey-dark;
        border: 2px sold $color-black;
        color: $color-white;
    }
    &__acount-contact,
    span {
        display: block;
        padding: 0.2rem;
        position: relative;
        top: -25px;
    }
    &__account,
    &__contact {
        font-size: 0.8rem;
        @include respond(tablet-landscape) {
            text-align: center;
            font-size: 0.9rem;
        }
    }
    &__contact {
        color: $color-white;
        background-color: $color-black;
        border-radius: 16px;
    }
    &__profile-image {
        @include respond(tablet-landscape) {
            margin-right: 5px;
        }
    }
}