.leftmenu{
    display: grid;
    grid-template-rows:repeat(8, auto);
}
ul{
    list-style-type:none;
}
li{
padding: 5px;
border: solid black 1px;
}
.endbotton{
    padding: 2px 4px;
    border-radius: 8px;
    background-color: blue;
}