body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
}

/* Left nav pane */

.nav-pane {
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}

.nav-pane, .main-feed, .related-infos {
    padding: 1em;
}

.nav-pane {
    border-right: 1px lightgray solid; 
}

.logo-area {
    padding: 1em;
    margin-bottom: 1em;
}

.nav-menu {
    min-height: 900px;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 1em;
}

.menu-item:hover, .menu-bottom-profile:hover {
    background-color: #eee;
    border-radius: 2em;
}

.nav-text {
    padding: 0.5em;
    font-weight: bold;
}

.menu-bottom-profile {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 0.5em;
    position: absolute;
    bottom: 3em;
    left: 1em;
    height: 4em;
}

.menu-profile-more {
    text-align: center;
    padding-top: 1em;
}

.menu-profile-pic {
    padding: 1em 0.5em 0 0;
}

.profile-name {
    font-weight: bold;
}

.twitter-handle {
    color: gray;
}

.menu-tweet-button {
    width: 100%;
    margin: 0.5em;
    padding: 1em;
    color: white;
    background-color: #1D9BF0;
    border-radius: 1em;
    font-weight: bold;
    border: 0;
}

.menu-tweet-button:hover {
    background-color: #8ECDF8;
}

/* Main Twitter Feed */

.main-feed {
    overflow-y: scroll;
    height: 100vh;
}

.write-tweet {
    display: grid;
    grid-template:
    'profile-pic main-tweet-input-area main-tweet-input-area'
    'write-tweet-toolbar write-tweet-toolbar feed-tweet-button-area'
    / 1fr 2fr 1fr;
    padding: 1em 0 2em 0;
}

.profile-pic {
    grid-area: profile-pic;
}

.main-tweet-input-area{
    grid-area: main-tweet-input-area;
}

.main-tweet-input {
    width: 90%;
    height: 2em;
    padding: 1em;
    color: gray;
    border: 1px lightgray solid;
    border-radius: 2em;
}

.write-tweet-toolbar {
    grid-area: write-tweet-toolbar;
}

.feed-tweet-button-area {
    grid-area: feed-tweet-button-area;
    text-align: right;
}

.feed-tweet-button {
    margin: 0.5em 2em 0.5em 0.5em;
    padding: 1em;
    color: white;
    background-color: #8ECDF8;
    border-radius: 1em;
    font-weight: bold;
    border: 0;
}

.feed-tweet-button:hover {
    background-color: lightgray;
}

.tweet {
    display: grid;
    grid-template:
    "profile-pic tweet-text"
    "tweet-tools tweet-tools"
    / 1fr 3fr;
    padding: 1em;
}

.tweet:hover {
    background-color: #eee;
}

.profile-pic {
    grid-area: profile-pic;
}

.tweet-text {
    grid-area: tweet-text;
}

.tweet-text p {
    margin: 0;
    padding: 0;
}

.tweet-tools {
    grid-area: tweet-tools;
}

/* Aside with suggestions and recommendations */

.searchbar {
    width: 80%;
    height: 2em;
    padding: 1em;
    color: gray;
    background-color: #eee;
    border: 1px lightgray solid;
    border-radius: 2em;
    margin-bottom: 1em;
}

.related-infos {
    border-left: 1px lightgray solid; 
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}

.suggested-article {
    display: grid;
    grid-template:
    "category-meta-data more"
    "news-headline suggested-article-img";
    padding: 1em;
}

.suggested-article:hover {
    background-color: #eee;
}

.category-meta-data {
    grid-area: category-meta-data;
}

.more {
    grid-area: more;
    text-align: center;
}

.news-headline {
    grid-area: news-headline;
}

.suggested-article-img {
    grid-area: suggested-article-img;
}

.direct-messages {
    /* min-width: 120px; */
    width: 80%;
    padding: 1em;
    border: 1px lightgray solid;
    border-radius: 1em 1em 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    position: absolute;
    bottom: 1.5em;
    left: 1em;
}

/* Fixed compliance floater */


#gdpr-compliance {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: black;
    color: white;
    padding: 1em;
    gap: 1em;
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
}

#gdpr-compliance a {
    color: lightblue;
}

#gdpr-compliance a:hover {
    color: white;
}

.gdpr-buttons {
    padding: 1em;
}
.gdpr-button {
    width: 100%;
    margin: 0.5em;
    padding: 1em;
    color: black;
    background-color: lightgray;
    border-radius: 1em;
    font-weight: bold;
    border: 0;
}

.gdpr-button:hover {
    background-color: gray;
}
