.news-feed {
  display: grid;
  grid-template-rows: 0.3fr 1fr 1fr;
  border-left: solid pink;
}
.search-bar {
  height: auto;
  background-color: rgb(211, 223, 223);
  gap: 10px;
  margin-top: 5ch;
  margin-bottom: 2ch;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  text-align: center;
}
.search-bar img {
  width: 3ch;

  margin-top: 2ch;
  margin-bottom: 2ch;
  left: 0;
}
.news {
  background-color: rgb(211, 223, 223);
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
}
