*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    display: grid;
    grid-template:
    "leftmenu   mainMenu rightmenu" 500px/
     300px  50px 400px 300px;
    border:black solid 2px;
}
.icons{
    display: grid;
    grid-template-rows: repeat(5 ,auto);

}
body{
    background:chocolate;
    font-family: 'Open Sans', sans-serif;
    color: cornsilk;
  }
  .responsive-grid {
    display: grid;
    grid-template-rows: repeat(5, minmax(80px, 1fr));
    gap: 15px;
    width: fit-content;
  }
li{ 
      padding: 4px;
    border: 2px solid green;
    list-style: none;
  width: fit-content;
    height: 1fr}

    
    .iconrow{
        display:grid;
    grid-auto-flow: column;
      border: solid black 1px;
    }