* {
    margin: 0;
    background-color: lightslategrey;
    padding: 5px;
}

/* default overrides */
.left,
    .menu, 
        .logo, .menu_buttons, .tweet_button, 
.main,
    .home_bar,
        .home, .spark,
    .compose,
        /*  */
    .feed,
        /*  */
.right,
    .topics,
        .search, .happening, .follow {
    margin: 5px;
}

/* overall grid layout */
.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-auto-rows: 100vh;
    grid-template-areas: "left main right";
    border: dotted 1px black;
    gap: 5px;
}
/* TOP GRID common styling */
    .left, .main, .right {
        border: dashed 1px blue;
        background-color:lightseagreen;
    }
/* SUBGRID common styling */
    /* LH */
        .menu, 
    /* main */
        .home_bar, .compose, .feed, 
    /* RH */
        .topics {
        border: dashed 1px red;
    }
/* INNER COMPS common styling  */
    /* LH */
    .logo, .menu_buttons, .tweet_button,
    /* main */
    .home, .spark,
    .pic, .type_here, .media_icons, .publish, 
    .tweet,
    /* RH */
    .search, .happening, .follow {
        border: dashed 1px purple;
        border-radius: 10px;
    }

/* TOP GRID individual styling */
    .left {
        grid-area: left;
        display: grid;
        grid-template-areas: ". menu";
        grid-template-columns: 1fr 4fr;
    }
    .main {
        grid-area: main;
        display: grid;
        grid-template-areas:
        "home_bar"
        "compose"
        "feed";
        grid-template-rows: 50px 100px 1fr;
        gap: 5px;
    }
    .right {
        grid-area: right;
        display: grid;
        grid-template-areas: "topics .";
        grid-template-columns: 4fr 1fr;
    }

/* MAIN central feed grids styling */
    .home_bar {
        grid-area: home_bar;
        display: grid;
        grid-template-areas: "home . spark";
        grid-template-columns: 40px 1fr 40px;
        place-content: center;
        place-items: center;
    }
    /* .compose {
        grid-area: compose;
        display: grid;
        grid-template-areas:
        "pic          type_here" 
        "media_icons    publish" ;
        grid-auto-columns: 40px 1fr;
        grid-template-rows: 40px 40px;
        gap: 2px;
    } */

    .compose {
        display: grid;
        grid-template:
        "compose_top" 1fr
        "compose_bot" 1fr;
        gap: 2px;
        padding: 0px;
    }
        .compose_top {
            grid-area: compose_top;
            display: grid;
            grid-template-areas: "pic type_here";
            grid-template-columns: 50px 1fr;
            padding: 2px;
        }
        .compose_bot {
            grid-area: compose_bot;
            display: grid;
            grid-template-areas: "media_icons publish";
            grid-template-columns: 1fr 100px;
            padding: 2px;
        }


    .feed {
        grid-area: feed;
        display: grid;
        grid-auto-rows: max-content;
        gap: 5px;
    }

/* MAIN components styling */
    /* HOME BAR */
        .home {
            grid-area: home;
        }
        .spark {
            grid-area: spark;
        }
    /* COMPOSE */
        .pic {
            grid-area: pic;
            justify-self: center;
        }
        .type_here {
            grid-area: type_here; 
        }
        .media_icons {
            grid-area: media_icons;
        }
        .publish {
            grid-area: publish;
            justify-self: right;
        }
    /* FEED */

/* LH MENU styling */
    .menu {
        grid-area: menu;;
        display: grid;
        grid-template-areas:
        "logo"
        "menu_buttons"
        "tweet_button"
        ".";
        grid-template-rows: 50px 300px 100px 1fr;
        gap: 5px;
    }
/* RH TOPICS styling */
    .topics {
        grid-area: topics;
        display: grid;
        grid-template-areas:
        "search"
        "happening"
        "follow"
        ".";
        grid-template-rows: 50px 300px 300px 1fr;
        gap: 5px;
    }

/* MENU components styling */
        .logo {
            grid-area: logo;
        }
        .menu_buttons {
            grid-area: menu_buttons;
        }
        .tweet_button {
            grid-area: tweet_button;
            place-self: center;
        }          
/* TOPICS components styling */
        .search {
            grid-area: search;
        }
        .happening {
            grid-area: happening;
        }
        .follow {
            grid-area: follow;
        }

/* MENU BUTTONS */
.menu_buttons ul {
    display:grid;
    grid-auto-flow: rows;
    list-style: none;
    background-color: lightcoral;
    gap: 2px;
    margin: 0;
}
    .menu_buttons ul li {
        border: solid 1px black;
        

    }


/* BUTTON styling */
button {
    background-color: lightskyblue;
    border: none;
    border-radius: 15px;
    width: fit-content;
}
button:focus {
    background-color: aquamarine;
    color: darkmagenta;
}
button:active {
    color: magenta;
}
button:hover{
    cursor: pointer;
}
#menu_tweet {
    background-color: lightsalmon;
}


/* MEDIA QUERIES */
@media screen and (max-width: 800px) {

}