* {
  /* border: 1px black dotted; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(255, 239, 245);
}

.container {
  display: grid;
  grid-template-areas: "nav main sidebar";
  grid-template-columns: minmax(275px, 300px) 1fr minmax(200px, 275px);
  height: 100vh;
}

.nav {
  grid-area: "nav";
  font-weight: bold;
  font-size: 20px;
  color: #454545;
}

.nav, .sidebar {
  background-color: rgba(255,255,255,0.3);
}

.nav ul {
  padding: 0;
  margin: 0;
}

.nav ul li {
  padding: 1rem 0;
  list-style-type: none;
}

.nav ul li:hover, #active {
  background-color: #ff8ab75b;
  /* border-left: 3px rgb(236, 72, 135) solid; */
  color: white;
  text-shadow: rgb(236, 72, 135) 1px 0 10px
}

.createNew {
  background-color: rgba(255, 255, 255, 0.8);
  height: min-content;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 40px;
  padding: 20px;
  gap: 20px;
}

.textBox {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(98, 27, 85, 0.1);
}

.textBox > p {
  margin: 0;
  height: min-content;
}

.createNew .button {
  background-color: rgb(236, 72, 135);
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
}

.createNew .OptionsAndSave {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr min-content;
}

.OptionsAndSave .postType {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  grid-gap: 8px;
}


.feed {
  scroll-behavior: smooth;
  overscroll-behavior: auto;
}

.tweet {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 50px 1fr;
  box-shadow: 5px 5px 10px rgba(98, 27, 85, 0.1);
}

.tweet:hover {
  cursor: pointer;

  background-color: rgba(255, 255, 255, 1);
}

.tweet .timestamp {
  font-style: italic;
  color: rgba(98, 27, 85, 0.5);
  font-size: smaller;
}

.tweet .handle {
  color:rgba(236, 72, 135, 0.5);
}

.tweet .text {
  margin-top: 1em;
}


.tag, .mention, .profileName, .news p, .followSuggestions p {
  color: rgb(236, 72, 135);
}

.profileName {
  font-weight: bold;
}

.tag:hover, .mention:hover {
  color: rgb(132, 30, 69);
}

.tag:before, .news p::before {
  content: "#"
}

.mention:before, .handle:before, .followSuggestions p::before {
  content: "@";
}

.main {
  grid-area: "main";
}

.sidebar {
  grid-area: "sidebar";
}

.searchBar, .news, .followSuggestions {
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  border: 1px solid rgb(236, 72, 135, 0.5);
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  color: ;
}

.news p, .followSuggestions p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.searchBar {
  padding: 10px;
  color: rgb(236, 72, 135, 0.5);
  font-style: italic;
  border-radius: 20px;
}

h2 {
  font-size: 1em;
  margin: 0;
}

#logo {
  padding: 10px;
}

.profileImg {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
}

.profileImg > img {
  height: 50px;
  object-fit: fill;
}

.embeddedMedia {
  margin: 10px 0;
  background-color: black;
  border-radius: 5px;
  object-fit: fill;
  overflow: hidden;
  display: grid;
  max-height: 400px;
  place-content: center;
  place-items: center;
}

.embeddedMedia > img {
  width: 90%;
  object-fit: fill;
}

.icon {
  height: 16px;
  margin: 0 1rem;
}

.icon path {
  fill: rgb(236, 72, 135, 0.5);
}

.pastelrainbow {
  background: rgb(255, 255, 255);
  background: linear-gradient(142deg, rgba(255,6,201,0.3) 0%, rgba(255,4,0,0.3) 10%, rgba(255,189,0,0.3) 23%, rgba(239,255,0,0.3) 34%, rgba(132,255,38,0.3) 44%, rgba(29,218,255,0.3) 54%, rgba(26,105,255,0.3) 69%, rgba(174,38,255,0.3) 81%, rgba(251,31,255,0.3) 93%, rgba(255,6,201,0.3) 100%);
}

.pink {color: rgba(255,6,201,1);
fill:  rgba(255,6,201,1)}
.red {  color: rgba(255,4,0,1);
fill: color: rgba(255,4,0,1);}
.orange {color: rgba(255,189,0,1);
fill:color: rgba(255,189,0,1) }
.yellow {color: rgb(255, 251, 0) }
.green {color: rgb(111, 236, 38)}
.blue {color: rgba(29,218,255,1)}
.darkblue {color: rgba(26,105,255,1)}
.violet {color: rgba(174,38,255,1)}
.magenta{color: rgba(251,31,255,1)}


@media screen and width <= 1265 {
  
  .container {
    grid-template-areas: "nav main";
    grid-template-columns: minmax(275px, 300px) 1fr minmax(200px, 275px);
    height: 100vh;
  }

  .sidebar {
    display: none;
  }

}