* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    place-items: center;
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template:
        "left-bar main right-bar" 1fr /
        275px 600px 350px;
}

.left-bar {
    height: 100vh;
    font-size: 1.2em;
    position: fixed;
    grid-area: left-bar;
}

.main {
    grid-area: main;
    border-left: 1px solid #eee;
}



.right-bar {
    grid-area: right-bar;
}

.left-bar div a {
    height: 50px;
    display: inline-block;
    line-height: 50px;
    color: #000;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 30px;
    border-radius: 40px;
    margin-bottom: 10px;
}

.left-bar div a:hover, .profile-bottom:hover {
    background-color: rgb(228, 228, 228)
}

.active-page {
    font-weight: bold;
}

.left-bar div a svg {
    margin-bottom: -8px;
    margin-right: 20px;
}

.left-bar .tweet a {
    background-color: rgb(26, 140, 216);
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 5px 0;
    margin-top: 10px;
    font-size: .9em;
    width: 100%;
}

.left-bar .tweet a:hover {
    background-color: rgb(16, 122, 192);
    color: white;
}

.left-bar .twitter-logo a {
    padding: 10px;
    height: auto;
    line-height: auto;
    color: #000;
    text-decoration: none;
    margin-bottom: 0;
    height: 40px;
    margin-top: 5px;

    position: relative;
    width: 40px;
}

.left-bar .twitter-logo a:hover {
    background-color: rgba(26, 140, 216, 0.082);
    border-radius: 50%;
}

.left-bar .twitter-logo a svg {
    position: absolute;
    top: 15px;
    left: 15px;
}

.profile-bottom {
    position: fixed;
    bottom: 20px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 10px;
    place-items: center;
    border-radius: 40px;
    padding: 10px;
    
}

.profile-bottom img {
    display: block;
    border-radius: 50%;
}

.profile-bottom {
    font-size: .8em
}

.profile-bottom svg {
    display: block;
}

.profile-bottom .name {
    font-weight: bold;
}

.profile-bottom .handle {
    color: #536471;
}

.top-bar {
    display: grid;
    grid-template-columns: 1fr 50px;
    height: 50px;
    position: fixed;
    width: 600px;
    padding-left: 15px;
}

.top-bar .home {
    font-weight: bold;
    font-size: 1.2em;
    background-color: #ffffff88;
    backdrop-filter: blur(6px);
    display: grid;
    place-items: center start;
}

.top-bar .star-icon {
    display: grid;
    place-items: center start;
}

.new-tweet {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 70px 1fr;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    padding-left: 15px;
}

.new-tweet img {
    border-radius: 50%;
}

.new-tweet-grid .input {
    color: #536471;
    padding: 15px 5px;
    font-size: 1.2em;
    height: 60px;
}

.new-tweet-grid .icons {
    padding-top: 20px;
    margin-right: 20px;
    border-top: 1px solid #eee;
    display: grid;
    grid-template-columns: 1fr auto;
}

.new-tweet-grid .icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20px);
    width: 100%;
    gap: 15px;
}

.tweet-button {
    text-align: right;
    width: 100%;
}

.tweet-button a {
    background-color: rgb(26, 140, 216);
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: .9em;
}

.show-tweets {
    display: grid;
    width: 100%;
    height: 55px;
    place-content: center;
    /* font-size: .9em; */
    color: rgb(29, 155, 240);
    border-bottom: 1px solid #eee
}