/* ####################### */
/* ####################### */
/* Main Section - Main Side */
.main-container {
  overflow-y: scroll;
  /* grid-area: main; */

  /* display: grid;
  grid-template-columns: 990px; */
}

.main-space {
  display: grid;
  grid-template-columns: 600px 350px;
  gap: 40px;
}

.main-feed-area {
  display: grid;
  grid-template-rows: 110px 1fr;
  /* position: relative; */
}

.top-main-menu {
  background-color: white;
  width: 600px;
  height: 110px;
  opacity: 0.9;

  position: fixed;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.link-to-home {
  display: grid;
  align-content: center;
}

.link-to-home a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.main-menu-tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 15px;
}

.tablinks-container {
  background-color: white;
  width: 100%;
  display: grid;
  height: 55px;
  place-content: center;
  padding: 0 15px;
}

.tablinks button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
  height: 35px;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.tablinks button:focus {
  font-weight: bold;
  border-bottom: 3px solid #1d98f0;
  font-weight: bolder;
}

