* {
  /* border: 1px black dotted; */
  /* overflow: hidden; */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(255, 239, 245);
  height: 100vh
}

.container {
  display: grid;
  grid-template-areas: "nav main sidebar";
  grid-template-columns: minmax(225px, 300px) minmax(min-content, 2fr) minmax(290px, 1fr);
}

/* REMOVE the default formatting of links for the nav bar and side*/

.nav a {
  text-decoration: none;
  color: inherit;
}

.nav {
  grid-area: "nav";
  font-weight: bold;
  color: #454545;
  overflow: none;
}

.nav, .sidebar {
  background-color: rgba(255,255,255,0.3);
  padding: 5px;
}

.nav ul {
  padding: 10px;
  margin: 0;
}

.nav ul li {
  padding: 10px;
  margin:  0.5em 0;
  list-style-type: none;
}

.nav ul li img + span {
  margin-left: 10px;
}

.nav ul li:hover, #active {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}

.createNew {
  background-color: rgba(255, 255, 255, 0.8);
  height: min-content;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 40px;
  padding: 20px;
  gap: 20px;
}

.textBox {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(98, 27, 85, 0.1);
}

.textBox > p {
  margin: 0;
}

.createNew .button {
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid rgb(236, 72, 135); 
}

.button:hover {
  background-color: rgb(236, 72, 135);
  color: rgba(255, 255, 255, 1);
}

.createNew .OptionsAndSave {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr min-content;
}

.tweet .postOptions {
  font-size: small;
  margin-top: 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(45px, 1fr));
}

.tweet .postOptions img {
  height: 20px;
}

.OptionsAndSave .postType {
  display: grid;
  grid-template-columns: repeat(6, min-content);
  grid-gap: 3px;
  align-items: start;
  justify-items: center;
}

.postType img {
  height: 20px;
  border-radius: 100%;
  padding: 10%;
  margin: 0 5px;
}

.postType img:hover {
  background-color: rgb(255, 206, 226);
}

.tweet {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 50px 1fr;
  box-shadow: 5px 5px 10px rgba(98, 27, 85, 0.1);
}

.tweet:hover {
  cursor: pointer;

  background-color: rgba(255, 255, 255, 1);
}

.profileName + .handle, .handle + .timestamp {
  margin-left: 10px;
}

.tweet .timestamp {
  font-style: italic;
  color: rgba(98, 27, 85, 0.5);
  font-size: smaller;
}

.tweet .handle {
  color:rgba(236, 72, 135, 0.5);
}

.tweet .text {
  margin-top: 1em;
  line-height: 150%;
}


.tag, .mention, .profileName, .news p, .followSuggestions p {
  color: rgb(236, 72, 135);
}

.profileName {
  font-weight: bold;
}

.tag:hover, .mention:hover, .handle:hover {
  color: rgb(132, 30, 69);
}

.timestamp:hover {
  text-decoration: underline;
}

.tag:before, .news p::before {
  content: "#"
}

.mention:before, .handle:before, .followSuggestions p::before {
  content: "@";
}

.main {
  grid-area: "main";
  max-height: 100vh;
  overflow-x: none;
  overflow-y: scroll;
}

.main::-webkit-scrollbar { display: none; }

.sidebar {
  grid-area: "sidebar";
}

.searchBar, .news, .followSuggestions {
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  border: 1px solid rgb(236, 72, 135, 0.5);
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}

.news p, .followSuggestions p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 10px 0;
}

.searchBar {
  padding: 10px;
  color: rgb(236, 72, 135, 0.5);
  font-style: italic;
  border-radius: 20px;
}

h1,
h2 {
  font-size: 1em;
  margin: 0;
}

#logo {
  padding: 10px;
}

.verified::after {
  content: url(assets/verified.svg);
  height: 20px;
}

.profileImg {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
}

.profileImg > img {
  height: 50px;
  object-fit: fill;
}

.embeddedMedia {
  margin: 10px 0;
  background-color: black;
  border-radius: 5px;
  object-fit: fill;
  overflow: hidden;
  display: grid;
  max-height: 400px;
  place-content: center;
  place-items: center;
}

.embeddedMedia > img {
  width: 90%;
  object-fit: fill;
}

.icon {
  height: 16px;
}

.icon path {
  fill: rgb(236, 72, 135, 0.5);
}

.rainbow {
  background: linear-gradient(142deg, rgba(255,6,201,1) 0%, rgba(255,4,0,1) 10%, rgba(255,189,0,1) 23%, rgba(239,255,0,1) 34%, rgba(132,255,38,1) 44%, rgba(29,218,255,1) 54%, rgba(26,105,255,1) 69%, rgba(174,38,255,1) 81%, rgba(251,31,255,1) 93%, rgba(255,6,201,1) 100%);
}

.pastelrainbow {
  background: rgb(255, 255, 255);
  background: linear-gradient(142deg, rgba(255,6,201,0.3) 0%, rgba(255,4,0,0.3) 10%, rgba(255,189,0,0.3) 23%, rgba(239,255,0,0.3) 34%, rgba(132,255,38,0.3) 44%, rgba(29,218,255,0.3) 54%, rgba(26,105,255,0.3) 69%, rgba(174,38,255,0.3) 81%, rgba(251,31,255,0.3) 93%, rgba(255,6,201,0.3) 100%);
  background-attachment: fixed;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-areas: "nav main";
    grid-template-columns: minmax(225px, 300px) minmax(min-content, 2fr);
  }

  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #logo {
    display: none;
  }
  
  .container {
    grid-template-areas: "nav main";
    grid-template-columns: 80px 1fr;
  }

  .nav ul li {
    border-radius: 100%;
    margin: 5px;
  }

  .nav ul li span {
    display: none;
  }

  .sidebar {
    display: none;
  }
}