/* color palette */

:root {
    --theme-color: #15202b;
    --light-blue:  #1d9bf0;
    --theme-hover: rgba(56, 68, 77, 0.5);
    --blue-hover: #1a85cd;
    --grey-font: #7e8b97;
}

/* preset border-box for everything */

* {
    box-sizing:border-box;
}

/* removing margin on paragraphs */

p {
    margin: 0px;
}

/* set theme color and remove margin */

body {
    background-color: var(--theme-color);
    height: 100%;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}

/* page main grid layout */

.layout {
    display: grid;
    grid-template-columns: 1fr 275px 600px 350px 1fr;
    grid-template-areas:
    "l-margin left main right r-margin"
}

/* LEFT COLUMN */

.layout-left-container {
    grid-area: left;
    display:grid;
    justify-content: end;
}

.layout-left {
    position: fixed;
    height: 100%;
    width: 275px;
    padding: 0px 8px;
}


/* navbar */

.nav-container {
    height: 612px;
    display: grid;
    grid-template-rows: 56px 1fr 84px;
}

/* header */

.nav-container > header > button{
    height: 50px;
    width: 50px;
    display: grid;
    place-content: center;
    margin-top: 2px;
}

/* main navbar */

.nav-container > .left-nav {
    display: grid;
    grid-template-rows: repeat(8, 59px);
    align-items: center;
}

button {
    background: var(--theme-color);
    color: #ffffff;
    border: none;
    display: grid;
    align-items: center;
    padding: 0px 12px;
}

button > span {
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    background: rgba(56, 68, 77, 0.5);
    border-radius: 25px;
}

button:focus {
    font-weight: 700;
}

.btn {
    height: 50px;
    grid-template-columns: 50px 1fr;
}

.btn-search {
    height: 50px;
    width: 50px;
    display: none;
}

.btn-search > img {
    filter: invert(98%) sepia(6%) saturate(663%) hue-rotate(173deg) brightness(102%) contrast(95%);
    width: 26px;
}

/* navbar footer/tweet button */

.nav-container > footer {
    display: grid;
    align-items: center;
}

.nav-container > footer > button {
    height: 50px;
    width: 233px;
    display: grid;
    place-content: center;
    background-color: var(--light-blue);
    border-radius: 25px;
    font-size: 20px;
    font-weight: 600;
}

footer > button > img {
    display: none;
}

.nav-container > footer > button:hover {
    background-color: var(--blue-hover);
}

/* left column footer / profile info */

.left-column-footer {
    height: 89px;
    position: fixed;
    bottom: 0px;
    display: grid;
    align-content: center;
}

.left-column-footer > button {
    height: 65px;
    width: 259px;
    border-radius: 32.5px;
    display: grid;
    align-items: center;
    grid-template-columns: 44px 102px 93px;
}

.btn-image, .btn-more {
    display: grid;
    margin-right: 8px;
    align-items: center;
}

.btn-handles {
    height: 40px;
    margin-left: 12px;
    text-align: left;
    display: grid;
}

.btn-handles > .name {
    font-weight: 700;
    font-size: 15px;
    margin: 0px;
    align-self: start;
}

.btn-handles > .profile-at {
    font-size: 15px;
    margin: 0px;
    color: var(--grey-font);
    align-self: flex-end;
}


.left-column-footer > button > .btn-image > img {
    height: 40px;
    border-radius: 50%;
}

.left-column-footer > button > .btn-more > img {
    height: 18.75px;
    justify-self: end;
    filter: invert(98%) sepia(6%) saturate(663%) hue-rotate(173deg) brightness(102%) contrast(95%);
}

/* MAIN COLUMN */

.layout-main {
    grid-area: main;
    width: 600px;
    /* background-color: blue; */
}

/* sticky header */

.main-header {
    box-sizing: border-box;
    position: sticky;
    z-index: 1;
    top: 0;
    height: 107px;
    border: solid 1px #38444d;
    border-top: 0px;
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-rows: 53px 54px;
    align-items: center;
    cursor: pointer;
}

.main-header > h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 16px;
}

.main-header > .main-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    height: 54px;
}

.main-sections > button {
    display: grid;
    justify-items: center;
    color: var(--grey-font);
    background: none;
    font-size: 16px;
}

.main-sections > button > .focus {
    height: 4px;
    width: 56px;
    border-radius: 2px;
    background-color: var(--light-blue);
    justify-self: center;
    position: absolute;
    bottom: 0;
    display: none;
}

.main-header > .main-sections > button:hover {
    background: rgba(56, 68, 77, 0.5);
    height: 54px;
    width: 100%;
    border-radius: 0px;
    display:grid;
    align-items: center;
    justify-self: center;
}

.main-header > .main-sections > #for-you-btn:focus, .main-header > .main-sections > #following-btn:focus{
    font-weight: 700;
    color: #ffffff;
}

.main-header > .main-sections > #for-you-btn:focus > div, .main-header > .main-sections > #following-btn:focus > div {
    display: block;
}

/* compose tweet */

.compose {
    height: 120px;
    border: solid 1px #38444d;
    border-top: 0px;
    margin-top: -1px;
    padding: 8px 16px;
    display: grid;
    grid-template-columns: 60px 1fr;
}

.compose > .profile-pic-container > img {
    width: 48px;
    border-radius: 50%
}

.compose > .container {
    display: grid;
    grid-template-rows: auto 48px;
    align-items: center;
}

.compose > .container > input {
    font-size: 20px;
    font-weight: 300;
    background: none;
    border: none;
    color: var(--grey-font)
}

.compose-footer {
    display: grid;
    grid-template-columns: 208px 1fr 78px;
    grid-template:
    "icons space tweet"
}

.container > .compose-footer > .compose-icons {
    grid-area: icons;
    width: 208px;
    margin-left: -7px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.container > .compose-footer > .compose-icons > div {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.container > .compose-footer > .compose-icons > div > img {
    width: 20px;
    filter: invert(49%) sepia(29%) saturate(4242%) hue-rotate(180deg) brightness(99%) contrast(90%);
}

.container > .compose-footer > .compose-icons > div:hover {
    background-color: var(--theme-hover);
}

.compose-footer > .tweet-btn {
    grid-area: tweet;
    justify-self: end;
}

.compose-footer > .tweet-btn > button {
    width: 78px;
    height: 36px;
    border-radius: 18px;
    background-color: #1a85cd;
    font-size: 16px;
    font-weight: 600;
}

/* tweet feed */

.tweet {
    border: solid 1px #38444d;
    border-top: 0px;
    margin-top: -1px;
    padding: 12px 16px;
    display: grid;
    grid-template-columns: 60px 1fr;
    font-size: 15px;
}

.tweet > .author-pic-container > img {
    width: 48px;
    border-radius: 50%
}

/* tweet header */

.tweet > .container > header {
    width: 100%;
    display: grid;
    align-content: center;
    color: var(--grey-font);
} 

.tweet > .container > header > div {

    display: grid;
    grid-template-columns: 1fr 20px;
    align-content: center;
    margin-bottom: 2px;
}

.tweet > .container > header > div > div > .bld {
    font-weight: 700;
    color: #ffffff;
}

.tweet > .container > header > div > .tweet-more {
    height: 34.75px;
    width: 34.75px;
    margin: -8px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.tweet > .container > header > div > .tweet-more:hover {
    background-color: #1C3345;
}

.tweet > .container > header > div > .tweet-more > img:hover {
    filter: invert(52%) sepia(30%) saturate(1781%) hue-rotate(171deg) brightness(94%) contrast(101%);
}

.tweet > .container > header > div > div > img {
    width: 18.75px;
    filter: invert(61%) sepia(2%) saturate(3544%) hue-rotate(169deg) brightness(83%) contrast(75%);
}

/* tweet content */

.tweet > .container > div > p {
    margin-right: 16px;
}

/* tweet footer */

.tweet > .container > footer {
    height: 34px;
    margin-top: 12px;
    padding-right: 81px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 18.75px;
    justify-items: space-between;
    align-items: center;
}


.tweet > .container > footer > div {
    height: 34px;
    width: 34px;
    margin-left: -8px;
    display: grid;
    border-radius: 50%;
}

.tweet > .container > footer > div > img {
    place-self: center;
    width: 18.75px;
    filter: invert(61%) sepia(2%) saturate(3544%) hue-rotate(169deg) brightness(83%) contrast(75%);
}

.tweet > .container > footer > div:hover > .ico-blue {
    filter: invert(52%) sepia(30%) saturate(1781%) hue-rotate(171deg) brightness(94%) contrast(101%);
}

.blue-hvr:hover {
    background-color: #1C3345;
    cursor: pointer;
}

.tweet > .container > footer > div:hover > .ico-green {
    filter: invert(54%) sepia(66%) saturate(460%) hue-rotate(111deg) brightness(92%) contrast(95%);
}

.green-hvr:hover {
    background-color: #193136;
    cursor: pointer;
}

.tweet > .container > footer > div:hover > .ico-red {
    filter: invert(19%) sepia(63%) saturate(2263%) hue-rotate(302deg) brightness(92%) contrast(98%);
}

.red-hvr:hover {
    background-color: #32253A;
    cursor: pointer;
}

.tweet:hover {
    cursor: pointer;
    background-color: rgba(61, 71, 78, 0.2);
}

.tweet .bld:hover {
    text-decoration: underline;
}

.tweet .date:hover {
    text-decoration: underline;
}

/* RIGHT COLUMN */

 .layout-right-container {
    grid-area: right;
}

.layout-right {
    position: fixed;
    height: 100%;
    width: 350px;
    background-color: var(--theme-hover);
}  

/* MEDIA QUERIES */

/* hide right column when width falls below */

@media screen and (max-width: 1224px) {
    .layout {
        display: grid;
        grid-template-columns: 1fr 275px 600px 1fr;
        grid-template-areas:
        "l-margin left main r-margin"
    }

    .layout-right-container {
        display: none;
    }
}

/* collapse right column when width falls below */

@media screen and (max-width: 874px) {
    .layout {
        display: grid;
        grid-template-columns: 1fr 88px 600px 1fr;
        grid-template-areas:
        "l-margin left main r-margin"
    }

    .layout-left {
        width: 88px;
        display: grid;
        justify-items: center;
    }

    .layout-left button {
        width: 50px;
    }

    .layout-left button > span {
        display: none;
    }

    .btn-explore {
        display: none;
    }

    .btn-search {
        display: block;
    }

    .nav-container > footer > button {
        width: 50px;
    }

    .nav-container > footer > button > img {
        display: block;
    }

    .nav-container > footer > button > span {
        display: none;
    }

    .left-column-footer > button {
        width: 65px;
    }

    .btn-handles, .btn-more {
        display: none;
    }

}


/* reduce main column width when overall width falls below */

@media screen and (max-width: 688px) {
    .layout {
        display: grid;
        grid-template-columns: 88px 1fr;
        grid-template-areas:
        "left main"
    }

    .layout-left-container {
        grid-area: left;
        justify-content: center;
    }

    .layout-left {
        justify-items: center;
    }

    .layout-left button {
        width: 50px;
    }

    .layout-left button > span {
        display: none;
    }

    .btn-explore {
        display: none;
    }

    .btn-search {
        display: block;
    }

    .nav-container > footer > button {
        width: 50px;
    }

    .nav-container > footer > button > img {
        display: block;
    }

    .nav-container > footer > button > span {
        display: none;
    }

    .left-column-footer > button {
        width: 65px;
    }

    .btn-handles, .btn-more {
        display: none;
    }

    .layout-main {
        grid-area: main;
        width: auto;
    }

}