* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  grid-template-areas: "left main right";
  height: 100vh;
}

.left {
  grid-area: left;
  display: grid;
  grid-template-rows: repeat(10, 50px);
  gap: 2px;
}

.nav-button {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 2px;
  border-radius: 25px;
  margin-inline: 2px;
  align-items: center;
  transition: 300ms ease;
}

.nav-button svg {
  height: 35px;
  margin-left: 10px;
}

.nav-button .link {
  margin-left: 20px;
}

.nav-button:hover {
  background-color: rgba(128, 128, 128, 0.578);
}

.nav-button:active {
    background-color: rgba(128, 128, 128, 0.578);
}

.left .logo {
  font-size: 40px;
  padding-left: 10px;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-rows: 40px auto 1fr;
  border-left: 1px solid rgba(128, 128, 128, 0.49);
  border-right: 1px solid rgba(128, 128, 128, 0.49);
}

.home-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.49);
}

.home-bar h2 {
  padding-left: 10px;
}

.home-bar img {
  height: 25px;
  padding-right: 10px;
}

.compose-tweet {
  display: grid;
  grid-template:
    "avatar write-tweet" 40px
    "avatar toolbar" auto/
    50px 1fr;
  padding-top: 5px;
  padding-left: 5px;
  border-bottom: 5px solid rgba(128, 128, 128, 0.605);
}

.compose-tweet .icon {
  display: grid;
  place-items: center;
  border-radius: 50%;
  padding: 2px;
  transition: 300ms ease;
}

.compose-tweet .icon:hover {
  background-color: rgba(128, 128, 128, 0.578);
}

.compose-tweet .avatar {
  grid-area: avatar;
  text-align: center;
  margin-right: 2px;
}

.avatar img {
  height: 40px;
  border-radius: 50%;
}

.compose-tweet .write-tweet {
  grid-area: write-tweet;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.compose-tweet .toolbar {
  grid-area: toolbar;
  display: grid;
  grid-template-columns: repeat(5, 30px) 1fr;
  padding: 2px;
  gap: 2px;
}

.toolbar .squawk-button {
  display: grid;
  place-items: center;
  justify-self: end;
  align-self: center;
  padding: 4px;
  width: 100px;
  border-radius: 20px;
  background-color: lightslategray;
  color: white;
  font-weight: bold;
}



.tweet-feed .tweet {
  display: grid;
  grid-template:
    "avatar tweeter-name username" 22px
    "avatar tweet-copy tweet-copy" auto
    "avatar engage-buttons engage-buttons" 25px/
    50px auto 1fr;
  padding: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.553);
  margin-top: 8px;
}

.tweet .avatar {
  grid-area: avatar;
  text-align: center;
  margin-right: 2px;
}

.tweet .engage-buttons {
  display: grid;
  grid-area: engage-buttons;
  grid-template-columns: repeat(4, 35px);
  justify-content: space-around;
  height: 35px;
}

.engage-buttons .icon {
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 300ms ease;
}

.engage-buttons .icon:hover {
  background-color: rgba(128, 128, 128, 0.578);
}


.engage-buttons svg {
  height: 20px;
}

.tweet .tweeter-name {
  grid-area: tweeter-name;
  font-weight: bold;
}

.tweet .username {
  padding-left: 5px;
  grid-area: username;
  color: grey;
}

.tweet .tweet-copy {
  grid-area: tweet-copy;
  padding-bottom: 5px;
}

.right {
  grid-area: right;
  display: grid;
  grid-template-rows: 40px auto 1fr;
  gap: 4px;
}


.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.search-bar p {
    display: grid;
    align-items: center;
    height: 25px;
    color: rgb(187, 187, 187);
    background-color: lightslategray;
    padding-right: 10px;
    border-radius: 0 20px 20px 0;
}

.search-bar img {
    height: 25px;
    background-color: lightslategray;
    padding-inline: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px 0 0 20px;
}

.right .whats-happening,
.right .who-to-follow {
    margin: 10px;
    height: 50px;
    background-color: lightslategray;
    border-radius: 5px;
}

.whats-happening h3,
.who-to-follow h3 {
    margin: 5px;
    border-bottom: 1px solid white;
}



@media screen and (max-width: 900px) {
  .wrapper {
    grid-template-columns: 56px 1fr 250px;
  }

  .left {
    grid-area: left;
    display: grid;
    grid-template-rows: repeat(10, 50px);
  }

  .nav-button .link {
    display: none;
  }

  .nav-button svg {
    margin-left: 9px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    grid-template-columns: 56px 1fr;
  }

  .right {
    display: none;
  }
}
