/* Reset  */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-top: 5px;
}

body {
  min-height: 100vh;
  margin-left: 40px;
  margin-right: 40px;
  scroll-behavior: smooth;
}

/* Header Section  */

.header-grid {
  display: grid;
  grid-template:
    "twitter-logo home-grid search" auto /
    auto 1fr auto;
  gap: 5px;
}

.twitter-logo {
  grid-area: twitter-logo;
  padding-right: 100px;
}

.home-section {
  grid-area: home-grid;
}

.home-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.home-header {
  justify-content: left;
  font-size: x-large;
  font-weight: bolder;
  padding-top: 5px;
  padding-left: 50px;
}

.stars-icon {
  text-align: right;
  margin-right: 50px;
}

.search {
  grid-area: search;
  padding-right: 100px;
  border: 2px solid rgb(226, 225, 225);
  background-color: rgb(226, 225, 225);
  border-radius: 30%;
  text-align: center;
  text-decoration: black;
  justify-content: center;
  padding-right: 250px;
}

.search-grid {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}

.search-image {
  margin-top: 7px;
}

.Search-twitter {
  padding-top: 15px;
  padding-left: 15px;
}

.space1 {
  width: 50px;
}

/* Main Section  */

.main-section-grid {
  display: grid;
  grid-template:
    "left-menu middle-main right-column" auto /
    auto 1fr auto;
}

.left-main-grid {
  display: grid;
  grid-auto-rows: auto;
}

.left-main-grid > div {
  display: grid;
  grid-auto-flow: column;
  font-weight: bolder;
}

.left-menu {
  grid-area: left-menu;
}

.home-button {
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
}

.home-button:hover {
  background-color: rgb(4, 134, 240);
}

.explore-button {
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  background-color: white;
}

.explore-button:hover {
  background-color: rgb(4, 134, 240);
}

.notifications-button {
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  background-color: white;
}

.notifications-button:hover {
  background-color: rgb(4, 134, 240);
}

.messages-button {
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  background-color: white;
}

.messages-button:hover {
  background-color: rgb(4, 134, 240);
}

.bookmarks-button {
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  background-color: white;
}

.bookmarks-button:hover {
  background-color: rgb(4, 134, 240);
}

.lists-button {
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  background-color: white;
}

.lists-button:hover {
  background-color: rgb(4, 134, 240);
}

.profile-button {
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  background-color: white;
}

.profile-button:hover {
  background-color: rgb(4, 134, 240);
}

.more-button {
  text-align: center;
  padding-top: 10px;
  padding-right: 10px;
  background-color: white;
}

.more-button:hover {
  background-color: rgb(4, 134, 240);
}

.left-bottom-grid {
  display: grid;
   grid-template:
    "tweet" auto
    "profile-info" auto /
    auto; */
   gap: 10px;
}

.tweet {
  grid-area: tweet;
  border: 2px solid rgb(4, 134, 240);
  background-color: rgb(4, 134, 240);
  color: white;
  width: 160px;
  height: 40px;
  border-radius: 20%;
  text-align: center;
  justify-content: center;
  padding-top: 8px;
  padding-left: 10ps;
}

  grid-template: 
    "profile-pic-bottom username three-dots-icon" a /
    auto auto auto;

.profile-pic-bottom {
  grid-area: profile-pic-bottom;
}

.username {
  grid-area: username;
}

.three-dots-icon {
  grid-area: three-dots-icon;
} 

.profile-info {
  grid-area: profile-info;
  margin-top: 150px;
}

/* Middle Main Section  */

.middle-top-grid {
  display: grid;
  grid-template:
    "profile-pic type-tweet type-tweet" auto
    "space2 tweet-icons tweet-button" auto /
    80px auto auto;
}

.middle-main {
  grid-area: middle-main;
}

.profile-pic {
  grid-area: profile-pic;
  margin-left: 35px;
}

.type-tweet {
  grid-area: type-tweet;
  color: grey;
  font-size: x-large;
  margin-left: 30px;
  padding-top: 30px;
}

.icons-list-grid {
  display: grid;
  grid-auto-flow: column;
  margin-left: 25px;
}

.tweet-button {
  grid-area: tweet-button;
  border: 2px solid rgb(4, 134, 240);
  background-color: rgb(4, 134, 240);
  color: white;
  width: 80px;
  height: 40px;
  border-radius: 40%;
  text-align: center;
  justify-content: center;
  padding-top: 8px;
}

.main-feed {
  grid-area: main-feed;
}

.center-grid {
  display: grid;
  grid-auto-flow: row;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 20px;
}

.main-two-column-grid {
  display: grid;
  grid-template: "profile-logo-tweet p";
  margin-top: 15px;
  padding: 5px;
  gap: 5px;
}

.profile-logo-tweet {
  grid-area: profile-logo-tweet;
}

p {
  grid-area: p;
  text-align: left;
  margin-top: 25px;
}

.right-column {
  grid-area: right-column;
}

.whats-happening {
  font-size: x-large;
  font-weight: bolder;
  margin-top: 40px;
}

.news-grid {
  display: grid;
  grid-template:
    "left-text right-image" auto /
    1fr 1fr;
  gap: 10px;
  margin-top: 40px;
}

.left-text {
  grid-area: left-text;
}

.right-image {
  grid-area: right-image;
}

/* Media Section  */

@media screen and (max-width: 800px) {
  .main-section-grid {
    grid-template:
      "left-menu middle-main" auto /
      auto 1fr;
  }

  .header-grid {
    grid-template:
      "twitter-logo home-grid" auto /
      auto 1fr;
    gap: 5px;
  }

  .right-column {
    display: none;
  }

  .search {
    display: none;
  }
}
