body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  grid-template:
    ".   left__menu   main__content     right__menu   .  " 1000px /
    100px 250px 1fr 250px 100px;
  gap: 5px;
}

/* LEFT MENU*/
.left__menu {
  grid-area: left__menu;
  display: grid;
  gap: 20px;
  background-color: white;
  grid-template-rows: 350px 40px 60px;
  position: fixed;
  left: 150px;
}

.left__menu .icons {
  margin-top: 20px;
}

.left__menu .icons ul li {
  list-style: none;
  line-height: 35px;
}

.left__menu a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.left__menu .icons a.home {
  color: rgb(94, 147, 221);
}

.left__menu a:hover {
  color: rgb(94, 147, 221);
}

.left__menu svg:hover {
  color: rgb(94, 147, 221);
}

.left__menu .tweet__box {
  background-color: rgb(94, 147, 221);
  color: white;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 20px;
  width: 150px;
  margin-left: 20px;
}

@media screen and (min-width: 80rem) {
  .main__content {
    margin: 1em 2em;
  }
}

/* MAIN CONTAINER */
.main__content {
  grid-area: main__content;
  display: grid;
  border-right: 2px solid lightgray;
  border-left: 2px solid lightgray;
  gap: 20px;
  grid-template-rows: 150px 1fr;
  overflow: scroll;
  scroll-behavior: smooth;
}

.main__cont .header__content {
  display: grid;
  grid-template-rows: 40px 1fr 40px;
}

.main__content .header__content .main__home {
  display: grid;
  position: relative;
  border-bottom: lightgray 1px solid;
  align-items: center;
}

.main__home a {
  font-size: 17px;
  padding: 5px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.main__home svg {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  top: 10px;
  right: 5px;
}

.main__content .header__content .happening__message {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
}

.main__content .header__content .happening__message img {
  border-radius: 50%;
  width: 40px;
  height: 30px;
  padding: 10px;
}

.main__content .header__content .whats__happening {
  padding-left: 40px;
}
.header__content .icons {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 20px;
  padding-left: 50px;
  justify-items: space-between;
  display: grid;
}

.header__content .icons .part__one {
  display: inline;
  padding: 5px;
}

.header__content .icons .part__one a {
  padding: 10px;
}

.main__content .header__content .icons .part__two {
  padding: 10px;
  background-color: rgb(118, 169, 234);
  justify-content: center;
  display: grid;
  border-radius: 20px;
  color: white;
  width: 70px;
  height: 15px;
  margin-top: 3px;
  border-bottom: 2px solid lightgray;
}

.main__content .main__tweet {
  display: grid;
  border-top: lightgray solid 1px;
  grid-template-rows: repeat(auto-fit, 1fr);
}

.main__content .main__tweet .tweet__one {
  padding-left: 80px;
  display: grid;
  grid-template-rows: 35px auto 40px;
  position: relative;
  border-bottom: 1px solid lightgray;
}

.main__content .main__tweet .tweet__one img.profile {
  width: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
}

/* FIRST COLUMN*/
.main__content .main__tweet .tweet__one .first__column {
  padding-left: 80px;
  display: grid;
  margin: 0;
  grid-template-columns: 50px 20px 40px;
  align-items: center;
  padding: 0;
}

.main__content .main__tweet .tweet__one .first__column span p {
  color: brown;
}

.main__content .main__tweet .tweet__one .first__column a.manu,
h4 {
  color: red;
  margin: 0;
  text-decoration: none;
}

.first__column span p {
  padding-left: 50px;
}

.main__content .main__tweet .tweet__one .first__column p {
  font-size: 15px;
  margin-top: 11px;
  color: gray;
}

/* SECOND COLUMN}*/
.main__content .main__tweet .tweet__one .second__column a {
  color: rgb(92, 173, 205);
  text-decoration: none;
  width: 100%;
}

.main__content .main__tweet .tweet__one .second__column img {
  width: 50%;
  border-radius: 20px;
}

.main__content .main__tweet .tweet__one .second__column p {
  margin: 0;
  line-height: 25px;
}

/* THIRD COLUMN */
.main__content .main__tweet .tweet__one .com__tag {
  display: inline;
  margin: 10px;
}

.main__content .main__tweet .tweet__one .com__tag a {
  color: black;
  text-decoration: none;
}

.main__content .main__tweet .tweet__one .com__tag a svg {
  padding: 60px;
  width: 20px;
  padding-top: 0;
}

/*TWEET2 */
.main__content .main__tweet .tweet__two {
  padding-left: 80px;
  display: grid;
  grid-template-rows: 35px auto 40px;
  position: relative;
}

.main__content .main__tweet .tweet__two img.profile__two {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.main__content .main__tweet .tweet__two .first__column {
  padding-left: 80px;
  display: grid;
  margin: 0;
  grid-template-columns: 125px 40px;
  align-items: center;
  padding: 0;
}

.main__content .main__tweet .tweet__two .first__column a.animal__pix,
h4 {
  color: black;
  margin: 0;
  text-decoration: none;
  font-size: 17px;
  padding-right: 0;
}

.main__content .main__tweet .tweet__two .first__column p {
  font-size: 15px;
  margin-top: 15px;
  color: gray;
}

.main__content .main__tweet .tweet__two .second__column iframe {
  width: 100%;
  height: auto;
}

/* THIRD COLUMN */
.main__content .main__tweet .tweet__two .com__tag {
  display: inline;
  margin: 10px;
}

.main__content .main__tweet .tweet__two .com__tag a {
  color: black;
  text-decoration: none;
}

.main__content .main__tweet .tweet__two .com__tag a svg {
  padding: 60px;
  width: 20px;
  padding-top: 0;
}

/*TWEET3 */
.main__content .main__tweet .tweet__three {
  padding-left: 80px;
  display: grid;
  grid-template-rows: 35px auto 40px;
  position: relative;
  border-top: 1px lightgray solid;
}

.main__content .main__tweet .tweet__three img.profile__three {
  border-radius: 50%;
  width: 50px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.main__content .main__tweet .tweet__three .first__column {
  padding-left: 80px;
  display: grid;
  margin: 0;
  grid-template-columns: 50px 40px;
  align-items: center;
  padding: 0;
}

.main__content .main__tweet .tweet__three .first__column a.me,
h4 {
  color: black;
  margin: 0;
  text-decoration: none;
  font-size: 17px;
  padding-right: 0;
}

.main__content .main__tweet .tweet__three .first__column p {
  font-size: 15px;
  margin-top: 15px;
  margin-right: 3rem;
  color: gray;
}

/* THIRD COLUMN */
.main__content .main__tweet .tweet__three .com__tag {
  display: inline;
  margin: 10px;
}

.main__content .main__tweet .tweet__three .com__tag a {
  color: black;
  text-decoration: none;
}

.main__content .main__tweet .tweet__three .com__tag a svg {
  padding: 60px;
  width: 20px;
  padding-top: 0;
}

/* RIGHT MENU*/
.right__menu {
  grid-area: right__menu;
  display: grid;
  gap: 10px;
  background-color: white;
  grid-template-rows: 50px 500px;
}

/* RIGHT MENU - SEARCH BAR*/
.right__menu .search__bar {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  background-color: rgb(241, 238, 238);
  border-radius: 20px;
  color: grey;
  position: relative;
}

.right__menu .search__bar svg {
  position: absolute;
  top: 15px;
  left: 15px;
}

/* RIGHT MENU - NEWS*/
.right__menu .news {
  display: grid;
  grid-template-rows: 50px 100px 70px 70px 70px 50px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  gap: 15px;
}

.right__menu .news .title {
  display: grid;
  font-weight: bolder;
  font-size: 15px;
  justify-content: flex-start;
  align-content: center;
  padding-left: 5px;
}

.right__menu .news .news__one,
.news__two,
.news__three,
.news__four,
.show__more {
  display: grid;
}
.right__menu .news .news__one span {
  color: red;
}

.right__menu .news .news__one:hover,
.right__menu .news .news__two:hover,
.right__menu .news .news__three:hover,
.right__menu .news .news__four:hover,
.right__menu .news .show__more a:hover {
  background-color: rgb(229, 226, 226);
}
.right__menu .news .news__one p,
.right__menu .news .news__two p,
.right__menu .news .news__three p,
.right__menu .news .news__four p {
  margin: 0;
  font-size: 12px;
  color: gray;
  padding-left: 10px;
  text-decoration: none;
}
.right__menu .news .news__one h5,
.right__menu .news .news__two h5,
.right__menu .news .news__three h5,
.right__menu .news .news__four h5 {
  margin: 0;
  padding: 0px;
  padding-left: 10px;
  text-decoration: none;
}
.right__menu .news .news__one a,
.right__menu .news .news__two a,
.right__menu .news .news__three a,
.right__menu .news .news__four a {
  text-decoration: none;
  color: black;
}
.right__menu .news .show__more {
  align-content: center;
}

.right__menu .news .show__more a {
  color: rgb(94, 147, 221);
  padding: 20px;
  padding-left: 10px;
  font-size: 15px;
  text-decoration: none;
}
