
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  scroll-behavior: smooth;
}

.text-heading {
  font-size: 2.4rem;
  font-weight: 400;
}

.text-heading-bold {
  font-size: 2.4rem;
  font-weight: 600;
}

.text-md-bold {
  font-size: 1.6rem;
  font-weight: 600;
}

.text-md {
  font-size: 1.6rem;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

.container > * {
  border: 2px dashed lightgrey;
  border-radius: 10px;
  min-height: 100vh;
}

.three-column-grid__expand-two {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.three-row-grid__expand-two {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.two-column-grid-expand-two {
  grid-template-columns: 10rem 1fr;
}

.center-header h4 {
  grid-column: 1/3;
  margin-bottom: 2rem;
}

.center .profile-image.header-image {
  grid-row: 2/4;
}

.center .header-question {
  grid-column: 2/4;
}

.center .header-reply {
  grid-column: 2/4;
  font-size: small;
}

.left-side {
  padding: 1.5rem 1.2rem 0 1.2rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* position: fixed; */
  position: sticky;
}

.left-side .logo {
  margin-bottom: 3rem;
  padding-left: 1.2rem;
}

.left-side .logo .fa-twitter {
  font-size: 3rem;
  color: darkturquoise;
}

.left-side .list-container {
  width: 26rem;
}

.left-side .list-container :nth-of-type(1) {
  color: darkturquoise;
  font-weight: 700;
}

.left-side .list-container .list-item {
  list-style-type: none;
  margin-bottom: 3rem;
}

.left-side .list-container .list-item i {
  color: #363636;
}

.left-side .list-container .list-item img {
  height: 2.6rem;
  width: 2.6rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.left-side .list-container .list-item:hover {
  color: lightblue;
  cursor: pointer;
}

.left-side .list-container .list-item:first-of-type i {
  color: lightblue;
}

.left-side .list-container .list-item:hover i {
  color: lightblue;
}

.left-side .list-container .list-item:last-of-type {
  display: flex;
  align-items: center;
  margin-left: 0.2rem;
  gap: 1rem;
}

.left-side .list-container .list-item:last-of-type .png {
  background-image: url(../icons/more.png);
  background-size: cover;
  width: 3rem;
  height: 3rem;
  margin: 0rem 0.6rem 0rem 0.8rem;
}

.left-side .list-container .list-item:last-of-type:hover .png {
  background-image: url(../icons/more-hover.png);
  background-repeat: no-repeat;
}

.left-side .list-container .icon-wrapper {
  display: inline-block;
  width: 5rem;
  display: inline-flex;
  justify-content: center;
}

.left-side .profile {
  padding: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 20rem;
}

.left-side .profile:hover {
  background-color: lightgrey;
  transition: all 0.3s;
  cursor: pointer;
}

.center-wrapper-sm {
  max-width: 96rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin: 0 auto;
}

.center-wrapper-md {
  max-width: 140rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin: 0 auto;
}

.gap-sm {
  gap: 0.4rem;
}

.gap-md {
  gap: 0.8rem;
}

.gap-lg {
  gap: 1.6rem;
}

.gap-lg-2x {
  gap: 3rem;
}

.pd-lg {
  padding: 1.6rem;
}

.cl-fade {
  color: rgba(70, 68, 68, 0.664);
}

.tweet-btn {
  width: 100%;
  display: flex;
}

.tweet-btn #tweet-btn {
  text-align: center;
  border: transparent;
  border-radius: 20rem;
  color: white;
  font-size: 2rem;
  padding: 1.6rem 8rem;
  background-color: lightgrey;
}

.tweet-btn #tweet-btn:hover {
  background-color: cyan;
  transition: all 0.3s;
  cursor: pointer;
}

.twitter-links {
    text-decoration: none;
}

.twitter-links2 {
    text-decoration: none;
    color: black;
}

.twitter-links3 {
    text-decoration: none;
    color: black;
}

.border-blue {
  border: 2px dashed darkturquoise;
  border-radius: 5px;

  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.tweet-option {
  height: 100%;
  align-items: center;
  cursor: pointer;
}

.tweet-options {
  grid-auto-rows: 24px;
  display: grid;
  grid-auto-flow: column;
  position: relative;
}

.flex {
  display: flex;
}

.gap-sm {
  gap : 5px;
}

.tweet-container > .tweet .pd-md .b-b-thin {
  border: solid 5px lightgrey;
}

.tweet-container {
  border: 3px solid lightgrey;
  border-radius: 5px;
}

.right-title {
  margin-top: 20px;
  margin-left: 20px;
}

.right-side {
  width: 33rem;
  padding: 0.6rem 1.2rem 0rem 1.2rem;
  margin-bottom: 1.2rem;
}

.right-side .searchbar {
  position: relative;
}

.right-side .searchbar i {
  position: absolute;
  font-size: 2rem;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  color: #a6b0b6;
}

.right-side .searchbar .search {
  width: 100%;
  padding: 1.6rem 2rem 1.6rem 6rem;
  background-color: #eff3f4;
  border: none;
  outline: none;
  border-radius: 20rem;
  margin-top: 5px;
}

.right-side .searchbar .search::-moz-placeholder {
  font-size: 1.5rem;
}

.right-side .searchbar .search:-ms-input-placeholder {
  font-size: 1.5rem;
}

.right-side .searchbar .search::placeholder {
  font-size: 1.5rem;
}

.right-side .searchbar .search:focus {
  background-color: #fff;
  border: 1px solid #4ba0eb;
}

.right-side .searchbar input[type=text] {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.right-side .news {
  margin-top: 1.5rem;
  background-color: #f7f9f9;
  border-radius: 12px;
}

.right-side .news .title {
  padding: 1rem;
}

.right-side .news-card {
  padding: 1.2rem 1.6rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.right-side .news-card:hover {
  background-color: rgba(180, 180, 180, 0.253);
  transition: 0.3s all;
  cursor: pointer;
}

.right-side .news-card-left {
  grid-row: 1/4;
  grid-column: 2/3;
  justify-self: flex-end;
  display: flex;
  align-items: start;
}

.right-side .news-card-left img {
  margin: 0 auto;
  width: 7rem;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}

@media only screen and (max-width: 1050px) {
  .right-side .news-card-left img {
    height: 60%;
  }
}

.right-side .card-bottom-text {
  color: #4ba0eb;
  padding: 1.4rem;
}

.right-side .card-bottom-text:hover {
  background-color: rgba(180, 180, 180, 0.253);
  transition: 0.3s all;
  cursor: pointer;
}

.right-side .links ul {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  margin: 1rem 0rem;
}

.right-side .links ul li {
  list-style-type: none;
  line-height: 2rem;
}

.right-side .links ul li a {
  text-decoration: none;
}

.right-side .links ul li a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #4ba0eb;
          text-decoration-color: #4ba0eb;
}

.right-side .follow {
  display: grid;
  margin-top: 1.5rem;
  background-color: #f7f9f9;
  border-radius: 12px;
}

.right-side .follow .title.follow-title {
  padding: 1rem;
}

.right-side .follow-card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1.2rem 1.6rem;
}

.right-side .follow-card:hover {
  background-color: rgba(180, 180, 180, 0.253);
  transition: 0.3s all;
  cursor: pointer;
}

.right-side .follow-card-title .card-description {
  display: block;
}

.right-side .follow-card-title-icon {
  display: inline;
  padding: 0.6rem 0.8rem;
  font-size: 1.6rem;
  border-radius: 50%;
}

.right-side .follow-card-title-icon:hover {
  color: #4ba0eb;
  background-color: #b2defc7e;
  cursor: pointer;
  transition: all 0.3s;
}

.right-side .follow-card-title img {
  margin: 0rem 0.2rem;
}

.right-side .follow-card-btn button {
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

@media only screen and (max-width: 1050px) {
  .right-side {
    width: 28rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .right-side {
    display: none;
  }
}

.center-wrapper-sm {
  max-width: 96rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin: 0 auto;
  
