.header {
  grid-column: 1 /4;
  grid-row: 1 /2;

  display: grid;
  grid-auto-columns: 1fr 2fr 1.5fr;
  grid-auto-flow: column;

  align-content: center;
  align-items: center;

  gap: 10px;
}

.logo-icon-div {
  width: 45px;
  height: 45px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-icon-div:hover {
  cursor: pointer;
  background-color: var(--nav-icon-hover-gb-color);
}

.header-home {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px;

  border-top: none;
}

.header-home p {
  font-weight: bold;
}

.header-home p:hover {
  cursor: pointer;
}

.settings-icon-div {
  width: 35px;
  height: 35px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-icon-div:hover {
  cursor: pointer;
  background-color: var(--setting-icon-hover-color);
}

.search-bar {
  background-color: var(--search-bar-bg-color);
  display: flex;
  gap: 10px;

  padding: 10px 15px;
  margin: 0 10px;

  border-radius: 25px;
}

.search-text {
  width: 100%;
  background-color: var(--search-bar-bg-color);
  border: none;
}

input:focus {
  outline: none;
}

.search-bar:focus-within {
  outline: var(--search-bar-focus-b-color);
}
