/****** header ******/
.logo-icon {
  width: 35px;
}

.settings-icon {
  width: 25px;
}

.search-icon {
  width: 20px;
}

/****** others ******/

.nav-icon {
  width: 35px;
}

.post-icon {
  width: 20px;
}

.interactive-icon {
  width: 20px;
}

.like {
  background-color: var(--like-icon-hover-bg-color);
}

.trusted {
  width: 15px;
}
