$roboto: "Roboto", sans-serif;
$color-main: #4ba0eb;
$color-main-dark: #3c78ad;
$hover-dark: rgba(187, 183, 183, 0.609);
$color-grey: rgba(70, 68, 68, 0.664);
$color-hover-light: rgba(180, 180, 180, 0.253);
$color-hover-lightblue: #b2defc7e;
$color-dark-grey: #6f7d88;
