.left-side {
  padding: 1.5rem 1.2rem 0 1.2rem;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-height: 100vh;
  position: sticky;
  top: 0;
  .logo {
    margin-bottom: 3rem;
    padding-left: 1.2rem;
    .fa-twitter {
      font-size: 3rem;
      color: $color-main;
    }
  }

  .list-container {
    width: 26rem;
    :nth-of-type(1) {
      color: $color-main;
      font-weight: 700;
    }

    .list-item {
      list-style-type: none;
      margin-bottom: 2.8rem;

      &:first-child {
        a {
          color: $color-main;
          font-weight: 700;
        }
      }

      a {
        text-decoration: none;
        color: black;
        font-weight: 400;
        &:hover {
          color: $color-main;
        }

        @include respond(tab-land) {
          display: none;
        }
      }

      i {
        color: rgb(54, 54, 54);
        // margin-right: 2rem;
      }

      img {
        height: 2.6rem;
        width: 2.6rem;
        margin-right: 1rem;
        margin-left: 1rem;
      }

      &:hover {
        color: $color-main;

        cursor: pointer;
      }

      &:first-of-type i {
        color: $color-main;
      }
      &:hover i {
        color: $color-main;
      }

      &:last-of-type {
        display: flex;
        align-items: center;
        margin-left: 0.3rem;
        gap: 0.8rem;

        .png {
          background-image: url(../icons/more.png);
          background-size: cover;
          width: 3rem;
          height: 3rem;
          margin: 0rem 0.6rem 0rem 0.8rem;
        }
        &:hover .png {
          background-image: url(../icons/more-hover.png);
          background-repeat: no-repeat;
        }
      }
    }

    .icon-wrapper {
      display: inline-block;
      width: 5rem;
      display: inline-flex;
      justify-content: center;
    }
    @include respond(tab-land) {
      width: auto;
    }
  }

  .profile {
    padding: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    border-radius: 20rem;
    &-img {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      margin-right: 1rem;
      img {
        height: 100%;
        border-radius: 50%;
      }
    }

    &-name p {
      color: rgba(70, 68, 68, 0.664);
    }

    .more .fa-ellipsis {
      font-size: 2rem;
    }
    &:hover {
      background-color: $hover-dark;
      transition: all 0.3s;
      cursor: pointer;
    }
    @include respond(tab-land) {
      display: none;
    }
  }
  @include respond(phone) {
    display: none;
  }
}
