* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 50% auto;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  background-color: aqua;
  max-width: 1900px;
}
/* LEFT MENU */

.left_menu {
  margin-left: 50px;
  font-size: larger;
  height: fit-content;
  position: sticky;
  top: 0;
}

.fa-twitter {
  padding: 20px;
  color: rgb(29, 155, 240);
}
i {
  font-size: 20px;
  display: inline;
}
nav a {
  display: grid;
  grid-template-columns: 50px auto;
  text-decoration: none;
  padding: 15px;
  color: black;
}
nav a:hover {
  text-decoration: underline;
  color: #09dcf8;
  font-weight: 700;
}

button.tweet {
  display: flexbox;
  width: 150px;
  height: 60px;
  border-radius: 30px;
  background-color: rgb(29, 155, 240);
  border: none;
}
button:hover {
  background-color: rgba(29, 156, 240, 0.712);
}
.tweet span {
  color: white;
  font-size: large;
}
/* MAIN */
.main {
  border: rgba(128, 128, 128, 0.116) solid 1px;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 170px auto;
}

.top {
  display: grid;
  grid-template:
    "photo Whats_Happening" 50%
    "photo icons" 50%/
    10% auto;
}

.Whats_Happening {
  grid-area: Whats_Happening;
  border-bottom: rgba(128, 128, 128, 0.37) solid 1px;
  width: 85%;
}
.Whats_Happening p {
  margin-left: 10%;
}

.photo {
  grid-area: photo;
  position: relative;
  margin: 15%;
}
.photo > img {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
}

.home_header {
  background-color: rgba(255, 255, 255, 0.856);
  display: grid;
  grid-template-columns: 10fr 0.5fr;
  width: 92%;
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  position: sticky;
  top: 0;
}
div .icons {
  position: relative;
  grid-area: icons;
  margin-left: 5%;
}
ul.icons {
  list-style: none;
  display: inline-flex;
  float: inline-start;
}
.icons i {
  position: relative;
  top: 30px;
  float: right;
  margin-right: 40px;
}
.icons button {
  position: absolute;
  top: 5%;
  right: 15%;
  width: 120px;
}
/* CONTENT */
.first,
.second {
  display: grid;
  grid-template:
    "profile_photos content" 90%
    "profile_photos reactions" auto/
    10% auto;
  row-gap: 15px;
}
.content {
  width: 90%;
}
.content p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: large;
  padding: 10px;
}

.content img,
iframe {
  width: 100%;
}
.profile_photos {
  display: grid;
  grid-area: profile_photos;
}
.profile_photos img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
}
.reactions {
  padding: 10px;
  position: relative;
  top: 10px;
  float: right;
}
.reactions i {
  position: relative;
  top: 10px;
  align-items: center;
  margin-right: 50px;
}

/* right menu///////////////////////// */
h2 {
  padding-bottom: 10%;
}
.right_menu {
  display: grid;
  grid-template-rows: 70px 0.5fr 4fr 4fr 50px;
  position: sticky;
  height: fit-content;
  top: 0;
  max-width: 400px;
}
.search {
  height: 50px;
  width: 300px;
}
form {
  display: flex;
  height: 35px;
  border-radius: 30px;
  margin: 3px;
  padding: 5px;
}
.main_right {
  display: grid;
}
.main_right a {
  text-decoration: none;
}

.newsleft img {
  width: 100%;
  height: auto;
}
.news a {
  text-decoration: none;
  color: black;
  font-family: cursive;
}
.whats_happening {
  display: grid;
  width: auto;
  grid-template-columns: 60% 40%;
  height: fit-content;
  margin-bottom: 10px;
}
.newsleft {
  padding-left: 10px;
}

.who_to_follow {
  display: grid;
  grid-auto-rows: repeat(3 1fr);
}
.follow_ {
  display: grid;
  grid-template-columns: 0.6fr 1fr auto;
  width: 100%;
  padding: 10px;
}
.follow_ img {
  border-radius: 50%;
  object-fit: cover;
  border: solid 1px gray;
}
button.follow {
  width: 100px;
  height: 50px;
  border-radius: 30px;
  background-color: rgb(1, 8, 14);
  border: none;
}
footer {
  height: 50px;
  text-align: center;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
.follow span {
  color: white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
fa-brands fa-sistrix {
}
@media screen and (max-width: 1700px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 15% 60% 10%;
    overflow: scroll;
    margin: 0;
  }
}
@media screen and (max-width: 1500px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: 10% auto;
    overflow: scroll;
    margin: 0;
  }
  .right_menu {
    display: none;
  }
  .left_menu {
    margin-left: 0;
    min-width: 120px;
  }
}
@media screen and (max-width: 1390px) {
  .container {
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    overflow: scroll;
    margin: 0;
  }
  .right_menu {
    display: none;
  }

  .left_menu {
    display: none;
  }
}
