/* Left Menu */

.left {
    grid-area: left;
    background-color: #DDA15E;
    display: grid;
    grid-template-rows: repeat(11, minmax(45px,1fr));
}

.left h2 {
    padding-left: 20px;
    font-size: large;
}

.left a {
    text-decoration: none;
}

.left img {
    padding-left: 20px;
}

.icon,
.home,
.explore,
.notifications,
.messages,
.bookmarks,
.lists,
.profile,
.more {
    display: grid;
    grid-template-columns: 55px 1fr;
    gap: 12px;

    /* background-color: rgba(0, 255, 255, 0.431); */
}

.tweetbutton {
    display: grid;
    align-items: center;         /* figure out how to center align*/
}


.left button {
    background-color: #BC6C25;
    padding:20px;
    border-radius: 10px;
}
