/* middle */
.middle {
    grid-area: middle;
    background-color: #DDA15E;

    display: grid;
    grid-template: 
    "homebar" 60px
    "mkpost" 100px
    "feeds" 1fr/
    minmax(500px, 1fr);

    gap: 10px;
}

.homebar {
   grid-area: homebar; 
    display: grid;
    grid-template-columns: 1fr 50px;
    /* background-color: antiquewhite; */
}

.stars {
    width: 30px;
    fill: #BC6C25;
    padding-top: 15px
}

.homebar > h1 {
    font-size: 40px;
    margin: 0;
    padding-left: 30px;
}

/*
.img {
    border-radius: 50%;
}

.mkpost {
grid-area: mkpost;
}

.feeds {
   grid-area: feeds; 
} */