/* middle */
.mid-box.homebar {
    position: sticky;
    top: 0px;
}

.pp.poster,
.inner-box.pp {
    padding-top: 3px;
    height: 50px;
    border-radius: 50%;
}

.middle {
    grid-area: middle;
    background-color: #DDA15E;

    border-left: #283618 2px solid;
    border-right: #283618 2px solid;

    display: grid;
    grid-template:
        "homebar" 40px
        "mkpost" 100px
        "feeds" 1fr/
        minmax(500px, 1fr);

    /* gap: 10px; */
}

.mid-box {
    padding-left: 10px;
    padding-right: 10px;
}

/* Homebar section-- make sticky */
.homebar {
    grid-area: homebar;

    display: grid;
    grid-template-columns: 1fr 50px;

    border-bottom: #DDA15E 1px solid;
}

#stars {
    width: 20px;
    fill: #BC6C25;
    padding-top: 15px
}

.homebar>h1 {
    font-size: 30px;
    margin: 0;
    padding-left: 30px;
}

/* Make a post section */
.mkpost {
    grid-area: mkpost;

    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "pp create"
        ".  icons";

    border-bottom: #DDA15E 10px solid;
}

#pp {
    grid-area: pp;

    display: grid;
}

.pp {
    width: 50px;
}

#write-post-here {
    grid-area: create;
    text-transform: capitalize;
}

.post-media {
    grid-area: icons;

    display: grid;
    grid-template-columns: repeat(5, 30px) 1fr 90px;
    gap: 20px;

}

.mkpost svg {
    height: 20px;
    fill: #BC6C25;
}

#schedule-icon {
    fill: none;
}

.middle button {
/*figure out how to move whole button to the right*/
    display: grid;
    align-items: center;

    background-color: #BC6C25;
    border-radius: 30px;

    font-size: 11px;
    font-weight: 700;

    width: minmax(70px, 90px);
    height: 30px;
}

/* Feed Section */

.post1,
.post2,
.post3 {
    display: grid;
    border-bottom: #DDA15E 1px solid;

    grid-template-rows: 60px 2fr 1fr;
    grid-template-columns: 60px 1fr;
    grid-template-areas:
        "ppu userDetails"
        "post post"
        ". reactions";

        font-size: 13px;
}

.poster {
    grid-area: ppu;
}

.posted {
    grid-area: post;
    display: grid;
    grid-template-rows: auto;
}

.userDetails {
    grid-area: userDetails;
    display: grid;

    grid-template-columns: auto 2fr;
}

.grey {
    display: grid;
    grid-template-columns: auto 1fr 
}

.username {
    /* align-items: justify; */
    color: #606C38;
    font-weight: bold;
}


#usertag,
#time {
    color: grey;
    padding-left: 10px;
}

.middle svg {
    fill: #BC6C25;
    width: 15px;
}

#post-img {
    display: grid;
    height: 150;
    border-radius: 4px;
}

.posted section {
    display: grid;
    justify-content: center;
}

/* Reactions under the post */

svg.react {
    width: 15px;
    fill: grey;
}

svg.react.likes,
svg.react.retweet
 {
    width: 25px;
}

.reactions {
    grid-area: reactions;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* column-gap: 15px; */

    align-items: center;
    align-content: center;
}