/* Left Menu */

.left {
    grid-area: left;

}

ul {
    position: sticky;
    top: 0px;
    background-color: #1e1e1e;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    padding: 15px;
    font-weight: 700;
}

.home a {
    color: #BC6C25;
}

.left button {
    background-color: #BC6C25;
    border-radius: 30px;

    font-size: 13px;
    font-weight: 700;

    width: 160px;
    height: 45px;
}

#dino {
    width: 50px;
}

svg {
    fill: #FEFAE0;
    width: 20px;
}


