*{
    margin:0;
    border:0;
    box-sizing:border-box;
    font-family:sans-serif;
}


.twitter{
    display:grid;
    grid-template: "left-menu main right-menu" 1fr /
                    250px 1fr 350px;
                    height:100vh;
}

@media screen and (max-width: 900px) {
    .twitter {
    grid-template: "main right-menu" 1fr /
                   1fr 300px;
 }

 .twitter .left-menu{
     display:none;
 }
}

@media screen and (max-width: 700px) {
    .twitter {
    grid-template: "main" 1fr /
                   1fr;
 }

 .twitter .right-menu{
     display:none;
 }
}


.left-menu {
    grid-area: left-menu;
    background-color: whitesmoke;
    display:grid;
    grid-template-rows:50px 1fr 150px 50px;
    padding:10px;
    grid-gap:5px;
}

.left-menu .icon,
.left-menu .emails,
.left-menu .tweet,
.left-menu .footer {
    /* border:1px dashed black; */
}

.left-menu .icon{
    display:grid;
    grid-template-columns: 80px 1fr;
    padding:5px;
    gap:5px;
}

.icon .in,
.icon .out{
    /* border:1px dashed black; */
}

.svg-home,
.svg-home1,
.svg-home2,
.svg-home3,
.svg-home4,
.svg-home5,
.svg-home6,
.svg-home7
 {
    width: 40%;
    height:70%;
}

.svg-icon{
    width: 40%;
    height: 90%;
}

.svg-icon1,
.svg-icon2,
.svg-icon3,
.svg-icon4 {
    width:60%;
    height:80%;
}

.left-menu .emails {
    display:grid;
    grid-auto-columns:
    padding:10px;
}

.emails .homes,
.emails .explore,
.emails .notifications,
.emails .messages,
.emails .bookmarks,
.emails .lists,
.emails .profile,
.emails .more {
    display:grid;
    grid-template-columns: 50px 1fr;
    /* grid-gap:5px; */
    padding:10px;
    /* text-align: center; */
    align-items:center;
}



.homes .symbol,
.homes .content,
.explore .symbol-2,
.explore .content-2,
.notifications .symbol-3,
.notifications .content-3,
.messages .symbol-4,
.messages .content-4,
.bookmarks .symbol-5,
.bookmarks .content-5,
.lists .symbol-6,
.lists .content-6,
.profile .symbol-7,
.profile .content-7,
.more .symbol-8,
.more .content-8{
    /* border:1px dashed black; */
}



.emails .homes,
.emails .explore,
.emails .notifications,
.emails .messages,
.emails .bookmarks,
.emails .lists,
.emails .profile,
.emails .more {
    /* border:1px dashed black; */
}

.left-menu .tweet{
    display: grid;
    place-items: center;
}

.left-menu .tweet a{
    display:grid;
    border:1px solid skyblue;
    padding:10px 80px;
    border-radius:20px;
    text-decoration:none;
    background-color: rgb(29, 155, 240);
    color:white;
    font-weight: bold;
}

.main {
    grid-area: main;
    background-color:white;
    grid-template-rows:50px 50px 50px 200px 1fr;
    display: grid;
    padding:10px;
}

.homes a,
.explore a,
.notifications a,
.messages a,
.bookmarks a,
.lists a,
.profile a,
.more a {
    text-decoration:none;
    color:black;
}

a:hover{
    text-decoration:none;
    color:tomato;
}

.main .home,
.main .happening,
.main .logos,
.main .eric,
.main .group-docs {
    /* border:1px dashed black; */
}

.main .home{
    padding:10px;
}

.main .happening {
    display:grid;
    grid-template-columns: 60px 1fr;
    padding:2px;
    gap:5px;
}

.happening .logo,
.happening .whats-happening{
    /* border:1px dashed black; */
}

.whats-happening{
    padding:5px;
    color:grey;
}

.main .logos{
    display: grid;
    grid-template-columns: 60px 40px 40px 40px 40px 1fr 150px;
    padding:3px;
    gap:5px;
}
.logos .icon1,
.logos .icon2,
.logos .icon3,
.logos .icon4,
.logos .icon5,
.logos .icon6,
.logos .icon7 {
    /* border:1px dashed black; */
}

.logos .icon7{
    display:grid;
    place-items:center;
}

.logos .icon7 a{
    border: 1px skyblue solid;
    text-decoration:none;
    padding:5px 30px;
    border-radius:10px;
    font-weight:bold;
    color:white;
    background-color: rgb(29, 155, 240);
}

.main .eric{
    display:grid;
    grid-template-columns: 100px 1fr;
    padding:10px;
    gap:5px;
}

.eric .pics,
.eric .wordings {
    /* border:1px dashed black; */
}

.eric .wordings{
    padding:10px;
}

.main .group-docs {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding:10px;
    gap:5px;
}

.group-docs .picss2,
.group-docs .wordings2 {
    /* border:1px dashed black; */

}

.group-docs .wordings2{
    padding:10px;
}

.first-image{
    margin-top:20px;
}

.will1,
.will2 {
    clip-path: circle();
}



.right-menu{
    grid-area: right-menu;
    background-color: white;
    display:grid;
    grid-template-rows:50px 50px 1fr 1fr 1fr 1fr 1fr;
    grid-gap:5px;
    padding: 20px;
}

.right-menu .search-twitter,
.right-menu .whatis,
.right-menu .news-life,
.right-menu .richardson,
.right-menu .alex,
.right-menu .hong,
.right-menu .bloomberg {
    /* border:1px dashed black; */
    border-radius 10px;
}

.search-twitter .lang2 {
    color:grey;
    display:grid;
    padding:10px;
    border:1px solid whitesmoke;
    border-radius:10px;
    background-color: whitesmoke;
}

.right-menu .whatis{
    font-weight: bold;
    padding:10px;
    font-size: 15px;
    border:1px solid whitesmoke;
    border-radius: 10px;
    background-color:whitesmoke;
}

.news-life .lang3 {
    color:grey;
    font-size: small;
}

.right-menu .news-life,
.right-menu .richardson,
.right-menu .alex,
.right-menu .hong,
.right-menu .bloomberg {
    border:1px solid whitesmoke;
    border-radius: 10px;
    background-color:whitesmoke;
}


.right-menu .news-life,
.right-menu .richardson,
.right-menu .alex,
.right-menu .hong,
.right-menu .bloomberg {
    padding:10px;
}

.lang4{
    font-size:small;
    color:grey;
}