*{
    margin:0;
    border:0;
    box-sizing:border-box;
    font-family:sans-serif;
}

.twitter{
    display:grid;
    grid-template: "left-menu main right-menu" 50px
                   "left-menu  main  right-menu" 1fr /
                    300px 1fr 300px;
                    height:100vh;
}



.left-menu {
    grid-area: left-menu;
    background-color: white;
    display:grid;
    grid-template-rows:50px 1fr 150px 50px;
    padding:10px;
}

.left-menu .icon,
.left-menu .emails,
.left-menu .tweet,
.left-menu .footer {
    border:1px dashed black;
}

.left-menu .emails p{
    /* border:1px dashed black; */
    display:grid;
    place-items: center;
    font-weight: bold;
}

.left-menu .emails{
    display:grid;
}

.left-menu .tweet{
    display: grid;
    place-items: center;
}

.left-menu .tweet a{
    display:grid;
    border:1px solid black;
    padding:10px 80px;
    border-radius:5px;
    text-decoration:none;
    background-color: #6c6cf3;
    color:white;
}

.main {
    grid-area: main;
    background-color:white;
    grid-template-rows:50px 50px 50px 200px 1fr;
    display: grid;
    padding:10px;
}

.main .home,
.main .happening,
.main .logos,
.main .eric,
.main .group-docs {
    border:1px dashed black;
}

.main .home{
    padding:10px;
}

.main .happening {
    display:grid;
    grid-template-columns: 60px 1fr;
    padding:2px;
    gap:5px;
}

.happening .logo,
.happening .whats-happening{
    border:1px dashed black;
}

.whats-happening{
    padding:5px;
    color:grey;
}

.main .logos{
    display: grid;
    grid-template-columns: 60px 40px 40px 40px 40px 1fr 150px;
    padding:3px;
    gap:5px;
}
.logos .icon1,
.logos .icon2,
.logos .icon3,
.logos .icon4,
.logos .icon5,
.logos .icon6,
.logos .icon7 {
    border:1px dashed black;
}

.logos .icon7{
    display:grid;
    place-items:center;
    /* background-color: skyblue; */
}

.logos .icon7 a{
    border: 1px blue solid;
    text-decoration:none;
    padding:5px 30px;
    border-radius:10px;
    font-weight:bold;
    color:white;
    background-color: skyblue;
}

.main .eric{
    display:grid;
    grid-template-columns: 100px 1fr;
    padding:10px;
    gap:5px;
}

.eric .pics,
.eric .wordings {
    border:1px dashed black;
}

.eric .wordings{
    padding:10px;
}

.main .group-docs {
    display: grid;
    grid-template-columns: 100px 1fr;
    padding:10px;
    gap:5px;
}

.group-docs .picss2,
.group-docs .wordings2 {
    border:1px dashed black;

}

.group-docs .wordings2{
    padding:10px;
}



.right-menu{
    grid-area: right-menu;
    background-color: pink;
}

