*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 10px 40px;
}
.container{
    display: grid;
    grid-template: 
   "left-side                main                    right-side" 1fr/
   minmax(36px,250px)       minmax(500px,1fr)      minmax(20px,310px) ;
  /*   border: 2px solid black;*/
   
}
/* left-side start*/
.left-side{
    grid-area: left-side;
    background-color: white;
    display: grid;
    grid-template:
    "header" 50px
    "left-container" 325px
    /*"more" 60px*/
    "tweet" 80px
    "footer" 60px/
    245px ;
  /*  border: 2px solid black;*/
   gap: 5px;
}
/* left-side header*/
.header{
    display: grid;
    grid-area: header;
    }
.header-left{
    margin: 10px 7px;
    background-color: white;
}
/* left-side container*/
.left-container{
    grid-area: left-container;
    background-color: white;
  /* border: 2px solid rgb(241, 235, 235);*/
    display: grid;
    grid-template:
    "box1" 40px 
    "box2" 40px
    "box3" 40px
    "box4" 40px
    "box5" 40px
    "box6" 40px
    "box7" 40px
    "box8"  40px/
    240px;
}
.box1{
    grid-area: box1;
    background-color: white;
    padding: 5px ;
}
.box2{
    grid-area: box2;
    background-color: white;
    padding: 5px ;
}
.box3{
    grid-area: box3;
    background-color: white;
    padding: 5px ;
}
.box4{
    grid-area: box4;
    background-color: white;
    padding: 5px ;
}
.box5{
    grid-area: box5;
    background-color: white;
    padding: 5px ;
}
.box6{
    grid-area: box6;
    background-color: white;
    padding: 5px ;
}
.box7{
    grid-area: box7;
    background-color: white;
    padding: 5px ;
}
.box8{
    grid-area: box8;
    background-color: white;
    padding: 5px ;
}
/* left-side tweet*/
.tweet{
    padding: 5px 20px;
    background-color: rgb(101, 101, 235);
    margin-top:10px ;
    border-radius: 20px;
    color: white;
    text-align: center;
    width: 210px;
}
/* left-side footer*/
.footer{
    display: grid;
    grid-template:
    "img  name  dots" 40px/
   60px   160px  30px ;
   background-color:white;
   margin-top: 235px;
   
}
.img{
    grid-area: img;
    padding-top: 5px;
    padding-left: 5px;
}
.name{
    grid-area: name;
    padding-top: 8px;
}
.dots{
    grid-area: dots;
    padding-top: 5px;
}
/* left-side  end*/

/* main side start*/
.main{
    grid-area: main;
    background-color: white;
   /* border: 2px solid rgb(211, 204, 204);*/
    display: grid;
    grid-template:
    "main-container1" 50px
    "main-container2" 100px
    "main-container3" 130px
    "main-container4" 400px/
      1fr;
    /*  overflow-y: scroll;*/
}
.main-container1{
    grid-area: main-container1;
    background-color: white;
    border: 1px solid rgb(211, 204, 204);
    padding:10px 10px;
    display: grid;
    grid-template:
    "h3 span" 20px/
     780px  30px
      ;
}
.main-container2{
    grid-area: main-container2;
    background-color: white;
    margin-bottom: 10px;
    border: 1px solid rgb(211, 204, 204);
    display: grid;
    grid-template:
    "main-container2-part1 " 40px
    " main-container2-part2" 40px/
     700px
    ;
}
.main-container2-part1{
    display: grid;
    grid-template:
    "span post" 30px/
     50px  650px;
     padding: 5px;
    
}
.span{
    grid-area: span;
   
}
.main-container2-part2{
    display: grid;
    grid-template:
    "icon1 icon2 icon3 icon4 icon5  icon6" 40px /
      30px  30px  30px  30px  30px   80px;
      padding-left: 50px;
      padding-top: 15px;
}
.icon1{
    grid-area: icon1;
    padding-left: 10px;
    padding-right: 8px;
    
}
.icon2{
    grid-area: icon2;
    padding-left:13px;
    padding-right: 6px;
}

.icon3{
    grid-area: icon3;
    padding-left:15px;
    padding-right: 6px;
}

.icon4{
    grid-area: icon4;
    padding-left:13px;
    padding-right: 6px;
}

.icon5{
    grid-area: icon5;
    padding-left:13px;
    padding-right: 6px;
}

.icon6{
    grid-area: icon6;
    padding-left: 530px;
    display: grid;
   grid-template:
   "h4" 30px /
    85px ;
}
.h4{
    grid-area: h4;
    border: 1px solid rgb(211, 204, 204);
    border-radius: 20px;
    font-size: 22px;
    text-align: center;
    background-color: rgb(101, 101, 235);
    color: white;
    padding: 2px 5px;
    
}

.main-container3{
    grid-area: main-container3;
    background-color: white;
    border: 1px solid rgb(211, 204, 204);
    display: grid;
    grid-template:
    "main-container3-part1 main-container3-part2" 120px/
      50px                   600px;

}
.main-container3-part1{
    padding: 10px 5px;
}
.main-container3-part2{
    padding: 5px 5px 10px 5px;
    font-size: 15px;
    display: grid;
    grid-template-columns:
    "main-container3-part2-b1" 20px/
    600px ;
}
.main-container3-part2-b1 ul{
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    list-style-type: none;
    padding-top: 15px ;
 
}

.main-container3-part2-b1 ul li a:hover{
    color: rgb(80, 80, 164);
}

.main-container4{
    grid-area: main-container4;
   /* background-color: rgb(238, 173, 203);*/
    border: 1px solid rgb(211, 204, 204);
    padding: 10px 0px 0 0;
    display: grid;
    grid-template:
    "main-container4-part1  main-container4-part2" 390px/
      50px                        600px;
}
.main-container4-part1{
    padding: 3px 0px 0 5px;
}
.main-container4-part2{
    padding: 12px 0px 0 0;
}


/* left-side  end*/

/* right-side start*/
.right-side{
grid-area: right-side;
background-color: white;
/*border: 1px solid rgb(211, 204, 204);*/
display: grid;
grid-template:
"right-container1" 50px
"right-container2" 1fr /
 305px;

}
.right-container1{
    grid-area: right-container1;
   background-color: white;
  /* border: 1px solid rgb(211, 204, 204);*/
    padding:5px 20px;

}
.right-container2{
    grid-area: right-container2;
    border: 1px solid rgb(211, 204, 204);
    
    margin: 5px 30px;
    border-radius: 2px;
    display: grid;
    grid-template:
    "right-container1-part1"  30px
    "right-container1-part2"  115px
    "right-container1-part3"  80px
    "right-container1-part4"  70px
    "right-container1-part5"  70px
    "right-container1-part6"  100px
    "right-container1-part7"   60px
    "right-container1-part8"   110px /
      244px;
}
.right-container1-part1{
    grid-area: right-container1-part1;
    background-color: #eaeaea;
    border: 1px solid rgb(211, 204, 204);/*set border-bottom*/
     padding:6px 10px;
     font-size: 18px;
}
.right-container1-part2{
    grid-area: right-container1-part2;
    background-color: #eaeaea;
    border: 1px solid rgb(211, 204, 204);/*set border-bottom*/
     padding:4px 0px;
     display: grid;
     grid-template:
     "RCP2-block1 RCP2-block2 " 55px /
      165px       80px;
}
.RCP2-block1{
   /* grid-area:RCP-block1 ;*/
    padding: 0 5px 0  16px;
    font-size: 16px;
    
}
.right-container1-part3{
    border: 1px solid rgb(211, 204, 204);
    background-color: #eaeaea;
    display: grid;
    grid-template:
    "RCP3-block1" 77px/
    230px ;
}
.RCP3-block1{
    font-size: 14px;
    padding: 5px 10px;
}
.right-container1-part4{
    border: 1px solid rgb(211, 204, 204);
    background-color: #eaeaea;
    display: grid;
    grid-template:
    "RCP4-block1" 65px/
     244px ;
}
.RCP4-block1{
    font-size: 13px;
    padding: 3px 10px;
}
.right-container1-part5{
    border: 1px solid rgb(211, 204, 204);
    background-color: #eaeaea;
    display: grid;
    grid-template:
    "RCP4-block1" 65px/
     244px ;
}
.RCP5-block1{
    font-size: 13px;
    padding: 3px 10px;
}
.right-container1-part6{
    border: 1px solid rgb(211, 204, 204);
    background-color: #eaeaea;
    display: grid;
    grid-template:
    "RCP4-block1 RCP4-block2" 95px/
    165px         80px;
}
.RCP6-block1{
    font-size: 13px;
    padding: 3px 10px;
}
.RCP6-block2{
     border-radius: 15px;
    padding: 10px 2px 0 0;
}
.RCP6-block2 > img{
    border-radius: 8px;
  
}
.right-container1-part7{
    border: 1px solid rgb(211, 204, 204);
    background-color: #eaeaea;
    display: grid;
    grid-template:
    "RCP7-block1" 55px/
     244px ;
}
.RCP7-block1 > p{
    font-size: 20px;
    color:rgb(87, 87, 190) ;
    padding: 12px 10px;
}
.right-container1-part8{
    border: 1px solid rgb(211, 204, 204);
    background-color: #f5f0f0;
    display: grid;
    grid-template:
    "RCP8-block1  RCP8-block2" 140px/
     170px         75px;
     border-radius: 15px;
     position: relative;
     left: 25px;
     top: -10px;
     
}
.RCP8-block1 > p{
    font-size: 20px;
    padding: 7px 5px;
}
.RCP8-block2 {
    padding: 7px 5px;
}

