/* Global reset */

* {
    margin: 0;
    padding:0;
}

body {
    background-color: #F5F8FA;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

/* Containter */
/* Make a grid for container */

.container {
    display: grid;
    grid-template: 
    "header      header         header"    50px
    "left-bar    main-bar       right-bar" auto
    "footer      footer         footer"    50px /
    200px          1fr         400px;

    border: 1px dashed black;
    padding: 5px;
    gap: 5px;
}


/* Header */

.header {
    grid-area: header;
    border: 1px dashed black;

    /* 200px the width of left-bar */

    display: grid;
    grid-template: 
    "header-logo home-bar header-icon search-twitter-bar"
    ;
    grid-template-columns: 
    194px 1fr 50px 395px;
    padding: 5px;
    gap: 5px;
}

.header-logo {
    grid-area: header-logo;
    border: 1px dashed black;
}

.header-logo-img {
    width: 25px;
    padding-left: 10px;
    padding-top: 5px;
}

.header-icon-img {
    width: 25px;
    padding-left: 10px;
    padding-top: 5px;
}

.home-bar {
    grid-area: home-bar;
    border: 1px dashed black;
}

.home-bar > p {
    padding-left: 10px;
    padding-top: 7px;
    font-size: 20px;
    padding-right: 10px;
   
}

.header-icon {
    grid-area: header-icon;
    border: 1px dashed black;
}

.search-twitter-bar {
    grid-area: search-twitter-bar;
    border: 1px dashed black;

    display: grid;
    grid-template: "magnifying-logo search-text";
    grid-template-columns: 50px 1fr;
    padding: 5px;
    gap: 5px;
}

.magnifying-logo {
    grid-area: magnifying-logo;
    border: 1px dashed black;
}

.magnifying-logo-img {
    width: 17px;
    padding-left: 14px;
    padding-top: 5px;
}

.search-text > p{
    font-size: 15px;
    padding-top: 4px;
    padding-left: 6px;
    color: grey;
}

.search-text {
    grid-area: search-text;
    border: 1px dashed black;
}

/* Left-Bar */

.left-bar {
    grid-area: left-bar;
    border: 1px dashed black;

    /* Left-grid */

    display: grid;
    grid-template: 
    "left-bar-menu"
    "left-tweet-button";
    grid-template-rows: 500px 80px ;
    padding: 5px;
    gap: 5px;
}

.left-bar-menu {
    grid-area: left-bar-menu;
    border: 2px solid black;

    /* Left menu */
    display: grid;
    grid-template: 
    "home"
    "explore"
    "notifications"
    "messages"
    "bookmarks"
    "lists"
    "profile"
    "more";

    /* repeat(autofit, minmax(180px, 1fr) */
    grid-template-rows: repeat(8, 1fr);
    padding: 5px;
    gap: 5px;
}

.home {
    grid-area: home;
    border: 1px dashed black;

    /* display */
    display: grid;
    grid-template: "home-icon home-text";
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px;
    padding: 5px;
    gap: 5px;
    /* place in the center, both boxes */
    place-content: center;
}

.home-icon {
    grid-area: home-icon;
    border: 1px dashed black;

}

.home-icon-img {
    width: 20px;
    padding-top: 4px;
    padding-left: 4px;
}

.home-text {
    grid-area: home-text;
    border: 1px dashed black;
}

.home-text > p {
    padding-top:5px ;
    padding-left: 5px;
} 

.explore {
    grid-area: explore;
    border: 1px dashed black;


    display: grid;
    grid-template: "explore-icon explore-text";
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px;
    padding: 5px;
    gap: 5px;
    /* place in the center, both boxes */
    place-content: center;

}

.explore-icon  {
    grid-area: explore-icon ;
    border: 1px dashed black;
}

.explore-icon-img {
    width: 20px;
    padding-top: 4px;
    padding-left: 4px;
}

.explore-text  {
    grid-area: explore-text ;
    border: 1px dashed black;
}

.explore-text  > p {
    padding-top:5px ;
    padding-left: 5px;
}

.notifications {
    grid-area: notifications;
    border: 1px dashed black;

    display: grid;
    grid-template: "notification-icon notification-text";
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px;
    padding: 5px;
    gap: 5px;
    /* place in the center, both boxes */
    place-content: center;
}

.notification-icon {
    grid-area: notification-icon;
    border: 1px dashed black;
}

.notification-icon-img {
    width: 20px;
    padding-top: 4px;
    padding-left: 4px;
}

.notification-text {
    grid-area: notification-text;
    border: 1px dashed black;
}

.notification-text > p {
    padding-top:5px ;
    padding-left: 5px;
}

.messages {
    grid-area: messages;
    border: 1px dashed black;

    display: grid;
    grid-template: "messages-icon messages-text";
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px;
    padding: 5px;
    gap: 5px;
    /* place in the center, both boxes */
    place-content: center;
}

.messages-icon  {
    grid-area: messages-icon;
    border: 1px dashed black;
}

.messages-icon-img {
    width: 20px;
    padding-top: 4px;
    padding-left: 4px;
}



.messages-text  {
    grid-area: messages-text;
    border: 1px dashed black;
}

.messages-text > p {
    padding-top:5px ;
    padding-left: 5px;
}

.bookmarks {
    grid-area: bookmarks;
    border: 1px dashed black;

    display: grid;
    grid-template: "bookmarks-icon bookmarks-text";
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px;
    padding: 5px;
    gap: 5px;
    /* place in the center, both boxes */
    place-content: center;
}

.bookmarks-icon {
    grid-area: bookmarks-icon;
    border: 1px dashed black;
}

.bookmarks-icon-img {
    width: 20px;
    padding-top: 4px;
    padding-left: 4px;
}

.bookmarks-text {
    grid-area: bookmarks-text;
    border: 1px dashed black;
}

.bookmarks-text > p {
    padding-top:5px ;
    padding-left: 5px;
}

.lists {
    grid-area: lists;
    border: 1px dashed black;

    display: grid;
    grid-template: "lists-icon lists-text";
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px;
    padding: 5px;
    gap: 5px;
    /* place in the center, both boxes */
    place-content: center;
}

.lists-icon {
    grid-area: lists-icon;
    border: 1px dashed black;
}

.lists-text {
    grid-area: lists-text;
    border: 1px dashed black;
}

.lists-icon-img {
    width: 20px;
    padding-top: 4px;
    padding-left: 4px;
}

.lists-text > p {
    padding-top:5px ;
    padding-left: 5px;
}


.profile {
    grid-area: profile;
    border: 1px dashed black;

    display: grid;
    grid-template: "profile-icon profile-text";
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px;
    padding: 5px;
    gap: 5px;
    /* place in the center, both boxes */
    place-content: center;
}

.profile-icon {
    grid-area: profile-icon;
    border: 1px dashed black;
}

.profile-icon-img {
    width: 16px;
    padding-top: 6px;
    padding-left: 6px;
}

.profile-text {
    grid-area: profile-text;
    border: 1px dashed black;
}

.profile-text > p {
    padding-top:5px ;
    padding-left: 5px;
}

.more {
    grid-area: more;
    border: 1px dashed black;


    display: grid;
    grid-template: "more-icon more-text";
    grid-template-columns: 30px 1fr;
    grid-template-rows: 30px;
    padding: 5px;
    gap: 5px;
    /* place in the center, both boxes */
    place-content: center;

    
}

.more-icon {
    grid-area: more-icon;
    border: 1px dashed black;
}

.more-icon-img {
    width: 20px;
    padding-top: 4px;
    padding-left: 4px;

}
.more-text {
    grid-area: more-text;
    border: 1px dashed black;
}

.more-text > p {
    padding-top:5px ;
    padding-left: 5px;
}

.home, .explore, .notifications,.messages, .bookmarks, .lists, .profile,.more {
    cursor: pointer;
}

.home:hover,.explore:hover, .notifications:hover,.messages:hover, .bookmarks:hover, .lists:hover, .profile:hover,.more:hover   {
    color:  #26a7de
}



.left-tweet-button {
    grid-area: left-tweet-button;
    border: 1px dashed black;
    padding-top: 20px;
   

}

#tweet-button {
    width: 100%;
    height: 70%;
    border-radius: 20px;
    background-color: #26a7de;
    color: #E1E8ED ;
    border: none;
    cursor: pointer;
}

.main-bar{
    grid-area: main-bar;
    border: 1px dashed black;
}

.right-bar {
    grid-area: right-bar;
    border: 1px dashed black;
}

.footer {
    grid-area: footer;
    border: 1px dashed black;
    /* position: fixed;
    bottom: 0; */
    
}