/* Global reset */

* {
    margin: 0;
    padding:0;
}

body {
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

/* Containter */
/* Make a grid for container */

.container {
    display: grid;
    grid-template: 
    "header      header         header"    50px
    "left-bar    main-bar       right-bar" 100vh
    "footer      footer         footer"    50px /
    200px          1fr         400px;

    border: 1px dashed black;
    padding: 5px;
    gap: 5px;
}


/* Header */

.header {
    grid-area: header;
    border: 1px dashed black;

    /* 200px the width of left-bar */

    display: grid;
    grid-template: 
    "header-logo home-bar header-icon search-twitter-bar"
    ;
    grid-template-columns: 
    194px 1fr 50px 395px;
    padding: 5px;
    gap: 5px;
}

.header-logo {
    grid-area: header-logo;
    border: 1px dashed black;
}

.header-logo-img {
    width: 25px;
    padding-left: 10px;
    padding-top: 5px;
}

.header-icon-img {
    width: 25px;
    padding-left: 10px;
    padding-top: 5px;
}

.home-bar {
    grid-area: home-bar;
    border: 1px dashed black;
}

.home-bar > p {
    padding-left: 10px;
    padding-top: 7px;
    font-size: 20px;
   
}

.header-icon {
    grid-area: header-icon;
    border: 1px dashed black;
}

.search-twitter-bar {
    grid-area: search-twitter-bar;
    border: 1px dashed black;

    display: grid;
    grid-template: "magnifying-logo search-text";
    grid-template-columns: 50px 1fr;
    padding: 5px;
    gap: 5px;
}

.magnifying-logo {
    grid-area: magnifying-logo;
    border: 1px dashed black;
}

.magnifying-logo-img {
    width: 17px;
    padding-left: 14px;
    padding-top: 5px;
}

.search-text > p{
    font-size: 15px;
    padding-top: 4px;
    padding-left: 6px;
    color: grey;
}

.search-text {
    grid-area: search-text;
    border: 1px dashed black;
}

/* Left-Bar */

.left-bar {
    grid-area: left-bar;
    border: 1px dashed black;
}

.main-bar{
    grid-area: main-bar;
    border: 1px dashed black;
}

.right-bar {
    grid-area: right-bar;
    border: 1px dashed black;
}

.footer {
    grid-area: footer;
    border: 1px dashed black;
}