* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {

  display: grid;
  grid-template:
    "nav-bar main right-bar"
    "nav-bar main right-bar"
    "nav-bar main right-bar";
}

.nav-bar {

  grid-area: nav-bar;
  background-color: #e2eef3;

}

.logo {

  padding-bottom: 10px;
  width: 30px;
  height: 30px;
}


.nav-grid-container {
  display: grid;
  grid-template-rows: repeat(9, 60px);
  border-right: 1px solid #97b6e8;
}

.nav-grid-container nav,
.tweet {
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: 25px;
}


.tweet,
.profile {
  padding-top: 10px;
}

.tweet{
  border:1px solid #97b6e8;
  border-radius: 15px;
  background-color: #3a75d4;
  color: aliceblue;
  width: 170px;
  justify-self: center;
}

.main {

  grid-area: main;
  background-color: #e2eef3;
}

.grid-container-header {
  display: grid;
  grid-template-columns: 100px;
  grid-template:
    "home sparkle";
  gap: 10px;
  border-bottom: 1px solid #97b6e8;
}

.sparkle {
  padding: 10px;
  grid-area: sparkle;
  text-align: end;
}

.home {
  padding: 10px;
  grid-area: home;
}

.right-bar {
  grid-area: right-bar;
  background-color: #e2eef3;
  border-left: 1px solid #97b6e8;
}

.write-post {
  width: 500px;
  margin: 50px;
  padding: 50px;
  margin-left: 300px;
  text-align: center;

  border: 1px solid #97b6e8;

}

.grid-container-posts {
  display: grid;
  grid-template-rows: repeat(3, 200px);
  justify-content: center;
  border: 1px solid #97b6e8;
  padding: 30px;
}

.post {
  border: 1px solid #97b6e8;
  width: 500px;
  position: relative;
}

.post .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px black;
  background-color: white;
  text-align: center;
  color: white;
  position: absolute;
  margin: 15px;
}

.write-post .circle{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px black;
  background-color: white;
  text-align: center;
  color: white;
  position: absolute;
top: 100px;
}

.grid-container-right {
  padding-top: 10px;
  padding-left: 20px;
  display: grid;
  grid-template-rows: 30px 80px 80px;
  gap: 10px;
}

.search,
.news,
.follow {
  border: 1px solid #97b6e8;
}

.search{
  width: 230px;
  border-radius: 15px;
  padding: 5px;
  background-color: #3a75d4;
  color: aliceblue;
}

.news,
.follow{
  text-decoration: underline;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  background-color: #3a75d4;
  color: aliceblue;
}