*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
 
  display: grid;
  grid-template: 
    "nav-bar main right-bar"
    "nav-bar main right-bar"
    "nav-bar main right-bar";
  border: 2px dotted black;
}

.nav-bar{
 
  grid-area: nav-bar;
  background-color: brown;
  border: 2px dotted black;
}

.logo{
  padding-bottom: 50px;
}

nav,
.tweet,
.profile{
  border: 2px black solid;
}

.nav-grid-container{
  display: grid;
  grid-template-rows: repeat(9, 100px);
}
.tweet,
.profile{
  padding-top: 10px;
}



.main{

  grid-area: main;
  background-color: antiquewhite;
  border: 2px dotted black;
}

.grid-container-header{
  display: grid;
  grid-template-columns:100px;
  grid-template:
  "home sparkle";
  gap: 10px;
  
}

.sparkle{
  padding: 10px;
  grid-area: sparkle;
  text-align: end;
  border: 2px black solid;
}

.home{
  padding: 10px;
  grid-area: home;
  border: 2px black solid;
}

.right-bar{
  grid-area: right-bar;
  background-color: burlywood;
  border: 2px dotted black;
}

.write-post{
  width: 500px;
  margin: 50px;
  padding: 50px ;
  margin-left:300px ;
 text-align: center;
 
 border: 2px solid black;

}

.grid-container-posts{
  display: grid;
  grid-template-rows: repeat(3, 200px);
  justify-content: center;
  border: 2px solid black;
  padding: 30px;
gap: 10px;
}

.post{
  border: 2px dotted black;
  width:500px;
}

.grid-container-right{
  padding-top: 10px;
  padding-left: 20px;
  display: grid;
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.search,
.news,
.follow{
  border: 2px black solid;
}
