/* MAIN LAYOUTS */

.center-wrapper {
    max-width: 960px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.grid-auto__columns {
    display: grid;
    grid-auto-flow: column;
}

.two-column-grid__expand-one {
    display: grid;
    grid-template-columns: 1fr auto;

    align-items: center;
}

.two-column-grid_expand-two {
    display: grid;
    grid-template-columns: auto 1fr;
}

.three-column-grid__expand-two {
    display: grid;
    grid-template-columns: auto 1fr auto;
}