.two-grid-column__expand-one {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.two-grid-column__expand-two {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.three-grid-column__big-two {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.grid-auto-flow__column {
  display: grid;
  grid-auto-flow: column;
}
