* {
    box-sizing: border-box;
}

/* FONTS */
@font-face {
    font-family: "chirp";
    src: url("../fonts/chirp-regular-web.woff") format('woff');
    font-weight: normal;
}
@font-face {
    font-family: "chirp";
    src: url("../fonts/chirp-medium-web.woff") format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "chirp";
    src: url("../fonts/chirp-bold-web.woff") format('woff');
    font-weight: bold;
}

@font-face {
    font-family: "chirp";
    src: url("../fonts/chirp-heavy-web.woff") format('woff');
    font-weight: 800;
}

body, html {
    margin: 0;
    font-family: 'chirp';
    font-weight: normal;
    overscroll-behavior-y: none;
    --gray : #f6f9f9;
    --blue :  #1DA1F2;
    --border-color: rgba(128, 128, 128, 0.145);
} 

/* --------------------------------*/
.twitter-color {
    color :var(--blue);
    fill: var(--blue);
}

.gray {
    color : gray
}
.il-b {
    display: inline-block
}
.b-light {
    border: 2px solid var(--border-color);
}

.b-thin {
    border: 1px solid var(--border-color);
}
.b-b-thin {
   
    border-bottom: 1px solid var(--border-color);
}
.b-sd-thin {
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}

.b-eg-thin {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.b-white {
    border-color: white
}

.b-r-sm {
    border-radius: 20%;
}


.b-r-md {
    border-radius: 30px;
}

.b-r-sm {
    border-radius: 15px;
}
.pd-0 {
    padding:0;
}

.pd-sm {
    padding: 10px
}

.pd-md {
    padding: 15px;
}

.pd-lg {
    padding: 20px;
}

.pd-sd-sm {
    padding-left:  10px;
    padding-right:  10px;

}
.pd-sd-md {
    padding-left:  15px;
    padding-right:  15px;
}

.pd-sd-lg {
    padding-left: 20px;
    padding-right: 20px;
}
.mg-sd-sm {
    margin-left: 10px;
    margin-right: 10px;
}

.mg-sm {
    margin: 10px;
}

.mg-eg-md {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mg-eg-sm {
    margin-top: 10px;
    margin-bottom: 10px;
}
.mg-eg-xd {
    margin-top: 5px;
    margin-bottom: 5px;
}
.mg-eg-xs {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mg-t-sm {
    margin-top: 10px;
}
.mg-t-md {
    margin-top: 15px;
}
.mg-0 {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.grid-center {
    height: 100%;
    display: grid;
    align-items: center;
}
.text-medium {
        font-weight: 500;
}
.text-regular {
    font-weight:normal;
}

.text-bold {
    font-weight:bold;
}

.font-s-md {
    font-size: 15px;
}
.font-s-lg {
    font-size: 20px;
}

.font-s-xs {
    font-size: 8px;
}
.font-s-sm {
    font-size: 10px;
}
.font-s-rg {
    font-size: 13px;
}
.flex {
    display: flex;
}

.space-between { 
    justify-content: space-between;
}

.top {
    align-self: flex-start;
}
.gap-sm {
    gap : 5px;
}

.gap-md {
    gap: 10px;
}

.gap-lg {
    gap: 20px;
}

.center-items {
    align-items: center;
}

.self-center {
    align-items: center;
}

/**/

.tweet-button {
    color: white;
    fill: white;
    background-color: var(--blue);
    width: 80%;
    padding: 10px 0px;
    box-sizing: content-box;
    align-items: center;
    margin: 0 auto;
    justify-content: center
}

.follow-button {
    background: black;
    color: white;
    border: none;
    height: min-content;
    align-self: center;
 }
/* -------------------------------- */
.img-fit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

/* AVATARS */

.avatar {
    height: 50px;
    width: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    align-self: baseline;
    justify-self: center;
}

/* -------------------------------- */

.container {
    width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 250px 1fr;
}

li {
    list-style: none;
    margin: 15px 0;
}
ul {
    margin: 0;
    padding: 0;
}

svg {
    height: 90%;
}
.nav li a {
    height: 100%;
}
.nav li{
    height: 35px;
    vertical-align: middle;
} 
.nav {
    position: sticky;
    top: 25px;
}

.active h2{
    font-weight: bold;
}

/* MAIN CONTENT */

.content-container {
    height: 100%;
    width: 100%;
    position: relative;
}


.content {
    display: grid;
    grid-template-columns: 600px 1fr;
    min-height: 100vh;
}

.content-header {
    z-index: 1;
    display: grid;
    align-items: center;
    grid-template-columns: 600px 1fr;
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
}

.main-header {
    display:grid;
    grid-template-columns: 1fr 24px;
    position: relative;
}

.content-header::before {
    backdrop-filter: blur(4px);
    background-color: rgba(255,255,255,0.9);
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}

.aside-header { 
    position: relative;
}

.search-box {
    display: grid;
    grid-template-columns: 24px 1fr;
    background-color: var(--gray);
    border: 1px solid var(--gray);
}

.search-box:focus-within {
    border: 1px solid var(--blue);
    color: var(--blue);
    background-color: white;
}

.search-box:focus-within svg path {
    fill: var(--blue)
}
.search-box input[type="text"] {
    border: none;
    background: none;
}

.search-box input[type="text"]:focus {
    outline: none;
}

/* FEED */

.tweet {
    display: grid;
    grid-template-columns: 75px 1fr;

}

.tweet-container {
    z-index: -1;
}
.tweet-options {
    grid-auto-rows: 24px;
    display: grid;
    grid-auto-flow: column;
    position: relative;
}

.tweet-option {
    height: 100%;
    align-items: center;
    cursor: pointer;
}

/* TRENDS */
.trends {
overflow: hidden;
}

.option {
    transition: background-color 0.2s;
    cursor:pointer;
}
.option:hover {
    background-color: rgba(0,0,0,0.03);
}

.trends .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trending-item {
    display: flex;
    justify-content: space-between;
}
/* MODALS */
.modal {
    background-color: var(--gray);
}
.more {
  
}

/* SUGGESTIONS */
.suggestion-item{
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: center;
} 