@media screen and (max-width: 900px) {
  .menu-bar a {
    display: grid;
    grid-template:
      "icon" 1fr /
      1fr;

    grid-area: icon;
    place-items: center;
  }

  .menu-bar h2 {
    display: none;
  }

  .profile-container {
    display: grid;
    grid-template:
      "profile-icon option-icon" 1fr /
      1fr 1fr;

    place-items: center;
  }

  .profile-container > .profile-icon {
    grid-area: profile-icon;
  }
  .option-icon {
    grid-area: option-icon;
  }
  .profile-container p {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .body-container {
    grid-template:
      "left-bar main" 1fr /
      1fr 4fr;
  }

  .left-bar {
    grid-area: left-bar;
  }
  main {
    grid-area: main;
  }

  .right-bar {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .body-container {
    grid-template:
      "main" 1fr /
      1fr;
  }

  main {
    grid-area: main;
  }

  .left-bar {
    display: none;
  }
}
