@media screen and (max-width: 800px) {
  .menu-container h2 {
    display: none;
  }

  .profile-container p {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .body-container {
    grid-template:
      "left-bar main" 1fr /
      1fr 4fr;
  }

  .left-bar {
    grid-area: left-bar;
  }
  main {
    grid-area: main;
  }
}

@media screen and (max-width: 500px) {
  .body-container {
    grid-template:
      "main" 1fr /
      1fr;
  }

  main {
    grid-area: main;
  }

  .left-bar,
  .right-bar {
    display: none;
  }
}
