@media screen and (max-width: 800px) {
  .menu-container h2 {
    display: none;
  }

  .profile-container p {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .right-bar {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .left-bar {
    display: none;
  }
}
