/* DELETE LATER */

.border-red {
  border: red 2px solid;
}

.border-green {
  border: green 2px solid;
}

.border-blue {
  border: blue 2px solid;
}

/* COLOR*/
html {
  --light-pink: rgb(255, 149, 149);
}

/* --- BASE STYLES --- */
aside {
  display: grid;
  justify-content: center;
}

/* --- MAIN STYLES --- */
/* Left Bar */
.logo {
  width: 40px;
  margin: 10px;
}

.left-bar-wrapper {
  width: 300px;
  padding: 10px;
}
.menu-bar {
  padding: 10px;
}

.menu-bar > img {
  width: 30px;
}
h2 > span {
  color: var(--light-pink);
}

.profile-container {
  align-items: center;
}

/* Main */
